<a href="https://colab.research.google.com/github/wanadzhar913/CADS-2022-Bootcamp-JDS-Cohort-2-Capstone-Project/blob/main/data_cleaning_notebooks/Data_Cleaning_May_PKR_Survey_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Note:** This notebook tracks the progress of IVR and Live calls for the May version of the 2023 PKR Tracker Survey.

A few things that differentiate this month's IVR section from the April version:

In [1]:
import warnings
warnings.filterwarnings("ignore")

# IVR Results

## Import IVR results from folders in Google Drive

In [2]:
import pandas as pd
import numpy as np

# Mount Google Drive
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [3]:
# List of state clusters folder
folder_name = [
    'SET 1',
    'SET 2',
    'SET 3',
    'SET 4',
    'SET 5',
    'SET 6',
    'SET 7'
    ]

In [4]:
# Get and store all .csv files path in `csv_path`
import glob
import re

path = "/content/drive/MyDrive/INVOKE Analytics Projects/PKR Survey 2023/Tracking Survey May 2023/IVR Raw Results/"

df_list = []
phonenum_list = []
i = 0
for folder in folder_name:
  
  for fname in glob.glob(path + folder + '/*.csv'):
    
    print(f"Reading in {re.search('Broadcast.*.csv', fname).group()} ..")
    i += 1

    with open(fname, 'r') as f:
      
      df = pd.read_csv(f, skiprows=1, names=range(20), engine='python')

      # Drop all-empty columns
      df.dropna(axis='columns', how='all', inplace=True)

      # Assign first row as column names
      df.columns = df.iloc[0]

      # Select PhoneNo column and all columns from UserKeyPress onwards
      df_phonenum = df[['PhoneNo']]

      df_response = df.loc[:, 'UserKeyPress':]

      df_results = pd.concat([df_phonenum, df_response], axis='columns')

      # Drop rows with blank response in the first question only
      phonenum_recycle = df_results.dropna(subset=['UserKeyPress'])

      # Append the participated phone no. into phonenum_list (select PhoneNo column only)
      phonenum_list.append(phonenum_recycle[['PhoneNo']])

      # Drop incomplete rows
      df_complete = df_results.dropna(axis='index')

      # Reset column names for accurate concatenation later
      df_complete.columns = np.arange(len(df_complete.columns))

      # Initialize `Cluster` column
      df_complete['Region'] = re.search('(\s*K[1-5])', fname).group()

      # Initialize `Set` column
      df_complete['Set'] = folder

      # Select all columns from the first one up to `Cluster`
      df_complete = df_complete.loc[:, :'Set']

      # Filter out key presses that are blank
      df_complete = df_complete.loc[(df_complete.iloc[:, 2].str.len() == 10)]

      # Append the CRs into df_list (to be used later)
      df_list.append(df_complete)

# Combined all participated phone no. stored in phonenum_list
phonenum_combined = pd.concat(phonenum_list, axis='rows')

# Rename column to match with codes in databricks
phonenum_combined.rename(columns={'PhoneNo': 'phonenum'}, inplace=True)

# Inspect result
print('\n')
print(f"Total count of phone no. that need to be excluded in the next sampling: {phonenum_combined.shape[0]}")
print(f"Total files loaded in: {i}")

Reading in Broadcast_List_Report_for_MAY S1 K2 EVENING.csv ..
Reading in Broadcast_List_Report_for_MAY S1 K4 EVENING.csv ..
Reading in Broadcast_List_Report_for_MAY S1 K2 NIGHT.csv ..
Reading in Broadcast_List_Report_for_MAY S1 K4 NIGHT.csv ..
Reading in Broadcast_List_Report_for_MAY S1 K2 NOON .csv ..
Reading in Broadcast_List_Report_for_MAY S1 K3 EVENING.csv ..
Reading in Broadcast_List_Report_for_MAY S1 K3 NOON .csv ..
Reading in Broadcast_List_Report_for_MAY S1 K3 NIGHT.csv ..
Reading in Broadcast_List_Report_for_MAY S1 K4 NOON .csv ..
Reading in Broadcast_List_Report_for_MAY S1 K5 EVENING.csv ..
Reading in Broadcast_List_Report_for_MAY S1 K5 NIGHT.csv ..
Reading in Broadcast_List_Report_for_MAY S1 K5 NOON.csv ..
Reading in Broadcast_List_Report_for_MAY S1 K1 EVENING.csv ..
Reading in Broadcast_List_Report_for_MAY S1 K1 NOON.csv ..
Reading in Broadcast_List_Report_for_MAY S1 K1 NIGHT.csv ..
Reading in Broadcast_List_Report_for_MAY S2 K1 NOON .csv ..
Reading in Broadcast_List_Report_for_MAY S2 K2 NIGHT.csv ..
Reading in Broadcast_List_Report_for_MAY S2 K2 EVENING.csv ..
Reading in Broadcast_List_Report_for_MAY S2 K3 EVENING.csv ..
Reading in Broadcast_List_Report_for_MAY S2 K2 NOON .csv ..
Reading in Broadcast_List_Report_for_MAY S2 K3 NIGHT.csv ..
Reading in Broadcast_List_Report_for_MAY S2 K4 EVENING.csv ..
Reading in Broadcast_List_Report_for_MAY S2 K3 NOON.csv ..
Reading in Broadcast_List_Report_for_MAY S2 K4 NIGHT.csv ..
Reading in Broadcast_List_Report_for_MAY S2 K4 NOON.csv ..
Reading in Broadcast_List_Report_for_MAY S2 K5 NIGHT.csv ..
Reading in Broadcast_List_Report_for_MAY S2 K5 NOON.csv ..
Reading in Broadcast_List_Report_for_MAY S2 K1 NIGHT.csv ..
Reading in Broadcast_List_Report_for_MAY S2 K1 EVENING.csv ..
Reading in Broadcast_List_Report_for_MAY S3 K1 NIGHT.csv ..
Reading in Broadcast_List_Report_for_MAY S3 K1 NOON.csv ..
Reading in Broadcast_List_Report_for_MAY S3 K2 NIGHT.csv ..
Reading in Broadcast_List_Report_for_MAY S3 K2 EVENING.csv ..
Reading in Broadcast_List_Report_for_MAY S3 K3 EVENING.csv ..
Reading in Broadcast_List_Report_for_MAY S3 K3 NIGHT.csv ..
Reading in Broadcast_List_Report_for_MAY S3 K3 NOON.csv ..
Reading in Broadcast_List_Report_for_MAY S3 K4 EVENING.csv ..
Reading in Broadcast_List_Report_for_MAY S3 K2 NOON.csv ..
Reading in Broadcast_List_Report_for_MAY S3 K4 NIGHT.csv ..
Reading in Broadcast_List_Report_for_MAY S3 K4 NOON.csv ..
Reading in Broadcast_List_Report_for_MAY S3 K5 EVENING.csv ..
Reading in Broadcast_List_Report_for_MAY S3 K5 NIGHT.csv ..
Reading in Broadcast_List_Report_for_MAY S3 K1 EVENING.csv ..
Reading in Broadcast_List_Report_for_MAY S3 K5 NOON.csv ..
Reading in Broadcast_List_Report_for_MAY S4 K2 EVENING.csv ..
Reading in Broadcast_List_Report_for_MAY S4 K1 NOON.csv ..
Reading in Broadcast_List_Report_for_MAY S4 K2 NOON.csv ..
Reading in Broadcast_List_Report_for_MAY S4 K2 NIGHT.csv ..
Reading in Broadcast_List_Report_for_MAY S4 K3 EVENING.csv ..
Reading in Broadcast_List_Report_for_MAY S4 K3 NIGHT.csv ..
Reading in Broadcast_List_Report_for_MAY S4 K3 NOON.csv ..
Reading in Broadcast_List_Report_for_MAY S4 K5 EVENING.csv ..
Reading in Broadcast_List_Report_for_MAY S4 K4 EVENING.csv ..
Reading in Broadcast_List_Report_for_MAY S4 K4 NIGHT.csv ..
Reading in Broadcast_List_Report_for_MAY S4 K4 NOON.csv ..
Reading in Broadcast_List_Report_for_MAY S4 K5 NIGHT.csv ..
Reading in Broadcast_List_Report_for_MAY S4 K5 NOON.csv ..
Reading in Broadcast_List_Report_for_MAY S4 K1 EVENING.csv ..
Reading in Broadcast_List_Report_for_MAY S4 K1 NIGHT.csv ..
Reading in Broadcast_List_Report_for_MAY S5 K1 NOON.csv ..
Reading in Broadcast_List_Report_for_MAY S5 K1 NIGHT.csv ..
Reading in Broadcast_List_Report_for_MAY S5 K2 NIGHT.csv ..
Reading in Broadcast_List_Report_for_MAY S5 K2 EVENING.csv ..
Reading in Broadcast_List_Report_for_MAY S5 K2 NOON.csv ..
Reading in Broadcast_List_Report_for_MAY S5 K3 EVENING.csv ..
Reading in Broadcast_List_Report_for_MAY S5 K3 NIGHT.csv ..
Reading in Broadcast_List_Report_for_MAY S5 K5 EVENING.csv ..
Reading in Broadcast_List_Report_for_MAY S5 K3 NOON.csv ..
Reading in Broadcast_List_Report_for_MAY S5 K4 EVENING.csv ..
Reading in Broadcast_List_Report_for_MAY S5 K4 NIGHT.csv ..
Reading in Broadcast_List_Report_for_MAY S5 K4 NOON.csv ..
Reading in Broadcast_List_Report_for_MAY S5 K5 NIGHT.csv ..
Reading in Broadcast_List_Report_for_MAY S5 K1 EVENING.csv ..
Reading in Broadcast_List_Report_for_MAY S5 K5 NOON.csv ..
Reading in Broadcast_List_Report_for_MAY S6 K1 EVENING.csv ..
Reading in Broadcast_List_Report_for_MAY S6 K1 NIGHT.csv ..
Reading in Broadcast_List_Report_for_MAY S6 K2 EVENING.csv ..
Reading in Broadcast_List_Report_for_MAY S6 K1 NOON.csv ..
Reading in Broadcast_List_Report_for_MAY S6 K2 NIGHT.csv ..
Reading in Broadcast_List_Report_for_MAY S6 K2 NOON.csv ..
Reading in Broadcast_List_Report_for_MAY S6 K3 EVENING.csv ..
Reading in Broadcast_List_Report_for_MAY S6 K3 NIGHT.csv ..
Reading in Broadcast_List_Report_for_MAY S6 K3 NOON.csv ..
Reading in Broadcast_List_Report_for_MAY S6 K4 EVENING.csv ..
Reading in Broadcast_List_Report_for_MAY S6 K4 NIGHT.csv ..
Reading in Broadcast_List_Report_for_MAY S6 K5 EVENING.csv ..
Reading in Broadcast_List_Report_for_MAY S6 K5 NIGHT.csv ..
Reading in Broadcast_List_Report_for_MAY S6 K4 NOON.csv ..
Reading in Broadcast_List_Report_for_MAY S6 K5 NOON.csv ..
Reading in Broadcast_List_Report_for_MAY S7 K2 EVENING.csv ..
Reading in Broadcast_List_Report_for_MAY S7 K2 NIGHT.csv ..
Reading in Broadcast_List_Report_for_MAY S7 K1 NOON.csv ..
Reading in Broadcast_List_Report_for_MAY S7 K2 NOON.csv ..
Reading in Broadcast_List_Report_for_MAY S7 K3 EVENING.csv ..
Reading in Broadcast_List_Report_for_MAY S7 K3 NIGHT.csv ..
Reading in Broadcast_List_Report_for_MAY S7 K3 NOON.csv ..
Reading in Broadcast_List_Report_for_MAY S7 K4 EVENING.csv ..
Reading in Broadcast_List_Report_for_MAY S7 K4 NIGHT.csv ..
Reading in Broadcast_List_Report_for_MAY S7 K4 NOON.csv ..
Reading in Broadcast_List_Report_for_MAY S7 K5 EVENING.csv ..
Reading in Broadcast_List_Report_for_MAY S7 K5 NOON.csv ..
Reading in Broadcast_List_Report_for_MAY S7 K5 NIGHT.csv ..
Reading in Broadcast_List_Report_for_MAY S7 K1 NIGHT.csv ..
Reading in Broadcast_List_Report_for_MAY S7 K1 EVENING.csv ..


Total count of phone no. that need to be excluded in the next sampling: 25277
Total files loaded in: 104

In [5]:
from datetime import date

"""
since CC labels the folders by date, we'll need to specify a 
variable with today's date to get the latest file. The last day
where we read the files in was on the 28-3-2023
"""
today = date.today()
formatted_date = "/" + today.strftime("%d-%m-%Y").replace("-0", "-")
print("Today's date:", formatted_date)

Today's date: /31-5-2023

In [ ]:
# Export phone no. list as csv to be uploaded into Databricks, then to be excluded in the next sampling
phonenum_combined.to_csv('ivr_may_pkr_2023_used_phonenum_v{}.csv'.format(formatted_date.replace('/', '')), index=False)

## Merge all raw IVR results

In [6]:
df_merge = pd.concat(df_list, axis='index')

print(df_merge.shape)
print('\n')
print(f'Sebastian IVR count by Region as of {today.strftime("%d-%m-%Y").replace("-0", "-")}')
print(df_merge['Region'].value_counts())
print('\n')
print(f'Sebastian IVR count by Set as of {today.strftime("%d-%m-%Y").replace("-0", "-")}')
print(df_merge['Set'].value_counts())

(3385, 15)


Sebastian IVR count by Region as of 31-5-2023
 K3    939
 K1    859
 K2    777
 K4    603
 K5    207
Name: Region, dtype: int64


Sebastian IVR count by Set as of 31-5-2023
SET 1    735
SET 3    698
SET 4    608
SET 6    423
SET 2    385
SET 7    356
SET 5    180
Name: Set, dtype: int64

## Data Cleaning & Preprocessing

### Separate CRs by Set

In [38]:
set1 = df_merge.loc[df_merge['Set'] == 'SET 1']

set2 = df_merge.loc[df_merge['Set'] == 'SET 2']

set3 = df_merge.loc[df_merge['Set'] == 'SET 3']

set4 = df_merge.loc[df_merge['Set'] == 'SET 4']

set5 = df_merge.loc[df_merge['Set'] == 'SET 5']

set6 = df_merge.loc[df_merge['Set'] == 'SET 6']

set7 = df_merge.loc[df_merge['Set'] == 'SET 7']

### Create Region-State mapping

In [8]:
# Region-state mapping

# northeast
kluster1 = {'FlowNo_2=1': 'Kelantan',
            'FlowNo_2=2': 'Terengganu',
            'FlowNo_2=3': 'Pahang',
            'FlowNo_2=4': 'Lain-lain'}

# northwest
kluster2 = {'FlowNo_2=1': 'Kedah',
            'FlowNo_2=2': 'Pulau Pinang',
            'FlowNo_2=3': 'Perlis',
            'FlowNo_2=4': 'Lain-lain'}

# central
kluster3 = {'FlowNo_2=1': 'Perak',
            'FlowNo_2=2': 'Selangor',
            'FlowNo_2=3': 'Kuala Lumpur',
            'FlowNo_2=4': 'Negeri Sembilan',
            'FlowNo_2=5': 'Lain-lain'}

# south
kluster4 = {'FlowNo_2=1': 'Melaka',
            'FlowNo_2=2': 'Johor',
            'FlowNo_2=4': 'Lain-lain'}

# east
kluster5 = {'FlowNo_2=1': 'Sabah',
            'FlowNo_2=2': 'Sarawak',
            'FlowNo_2=4': 'Lain-lain'}

### Create Region-Ethnic mapping

In [9]:
# Region-ethnic mapping
peninsular_eth = {'1': 'MELAYU',
                  '2': 'CINA',
                  '3': 'INDIA',
                  '4': 'LAIN-LAIN',
                  '5': 'MELAYU'}  # Handling for potentially incorrect key press (mode imputation)

east_eth = {'1': 'MELAYU',
            '2': 'CINA',
            '3': 'MUSLIM BUMIPUTERA',
            '4': 'NON-MUSLIM BUMIPUTERA',
            '5': 'LAIN-LAIN'}

### SET 1

In [10]:
set1.head(3)

,0,1,2,3,4,5,Region,Set,6,7,8,9,10,11,12
100,60134892545,FlowNo_2=2,FlowNo_3=3,FlowNo_4=1,FlowNo_5=1,FlowNo_6=2,K2,SET 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
806,60124710546,FlowNo_2=2,FlowNo_3=4,FlowNo_4=3,FlowNo_5=2,FlowNo_6=2,K2,SET 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1075,60104604287,FlowNo_2=1,FlowNo_3=1,FlowNo_4=1,FlowNo_5=2,FlowNo_6=2,K2,SET 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Map responses accordingly (But, for state & ethnic questions have to be mapped conditionally, based on the Region):

# 1. Which of the following issues is most important to you?
q1_mapping = {'FlowNo_3=1': 'Cost of living and job opportunities',
              'FlowNo_3=2': 'Corruption',
              'FlowNo_3=3': 'Political stability',
              'FlowNo_3=4': 'Strength of national economy',
              'FlowNo_3=5': 'Quality of national education'}

# 2. Are you satisfied with the current economic situation?
q2_mapping = {'FlowNo_4=1': 'Yes',
              'FlowNo_4=2': 'No'}

gender = {'FlowNo_6=1': 'L ',
          'FlowNo_6=2': 'P '}

# Total CR
print(f"Total CR for Set 1: {set1.shape[0]}")

# Select relevant columns only
set1 = set1.loc[:, :'Set']
  
# Rename columns
set1.columns = ['phonenum',
                'State',
                '1. Which of the following issues is most important to you?',
                '2. Are you satisfied with the current economic situation?',
                'ethgroup',
                'gender',
                'Region',
                'Set']

# Map response value
set1['1. Which of the following issues is most important to you?'].replace(q1_mapping, inplace=True)

set1['2. Are you satisfied with the current economic situation?'].replace(q2_mapping, inplace=True)

set1['gender'].replace(gender, inplace=True)

set1.head(3)

Total CR for Set 1: 735

,phonenum,State,1. Which of the following issues is most important to you?,2. Are you satisfied with the current economic situation?,ethgroup,gender,Region,Set
100,60134892545,FlowNo_2=2,Political stability,Yes,FlowNo_5=1,P,K2,SET 1
806,60124710546,FlowNo_2=2,Strength of national economy,FlowNo_4=3,FlowNo_5=2,P,K2,SET 1
1075,60104604287,FlowNo_2=1,Cost of living and job opportunities,Yes,FlowNo_5=2,P,K2,SET 1

In [12]:
# Assign State values according to Region
set1.loc[set1['Region'] == ' K1', 'State'] = set1.loc[set1['Region'] == ' K1', 'State'].replace(kluster1)

set1.loc[set1['Region'] == ' K2', 'State'] = set1.loc[set1['Region'] == ' K2', 'State'].replace(kluster2)

set1.loc[set1['Region'] == ' K3', 'State'] = set1.loc[set1['Region'] == ' K3', 'State'].replace(kluster3)

set1.loc[set1['Region'] == ' K4', 'State'] = set1.loc[set1['Region'] == ' K4', 'State'].replace(kluster4)

set1.loc[set1['Region'] == ' K5', 'State'] = set1.loc[set1['Region'] == ' K5', 'State'].replace(kluster5)

In [13]:
# Assign Ethnic values according to Region

# Extract only the key press value in ethgroup column
set1['ethgroup_key'] = set1['ethgroup'].str[-1]

set1.loc[set1['Region'] != ' K5', 'ethgroup'] = set1.loc[set1['Region'] != ' K5', 'ethgroup_key'].replace(peninsular_eth)

set1.loc[set1['Region'] == ' K5', 'ethgroup'] = set1.loc[set1['Region'] == ' K5', 'ethgroup_key'].replace(east_eth)

set1.drop(['ethgroup_key'], axis='columns', inplace=True)

In [14]:
# drop rows where all columns still contain the string pattern 'FlowNo_'
set1 = set1[~set1.apply(lambda x: x.str.contains('FlowNo_')).any(axis=1)]

In [15]:
# drop null values in gender. Weird, it's only for `set1`.
set1 = set1.dropna(subset=['gender'])

In [16]:
set1.head(3)

,phonenum,State,1. Which of the following issues is most important to you?,2. Are you satisfied with the current economic situation?,ethgroup,gender,Region,Set
100,60134892545,Pulau Pinang,Political stability,Yes,MELAYU,P,K2,SET 1
1075,60104604287,Kedah,Cost of living and job opportunities,Yes,CINA,P,K2,SET 1
1095,60174103984,Kedah,Political stability,No,MELAYU,P,K2,SET 1

In [ ]:
# final check
# for x in set1.columns:
#   print(set1[x].value_counts(normalize=True))
#   print("\n")

In [ ]:
# Export as .xlsx file
# set1.to_excel('ivr_march_pkr2023_set1_cleaned.xlsx', index=False)

### SET 2

In [17]:
set2.head(3)

,0,1,2,3,4,5,Region,Set,6,7,8,9,10,11,12
351,60129885458,FlowNo_2=1,FlowNo_3=1,FlowNo_4=1,FlowNo_5=1,FlowNo_6=1,K1,SET 2,FlowNo_7=1,FlowNo_8=1,FlowNo_9=1,FlowNo_10=1,FlowNo_11=1,FlowNo_12=1,FlowNo_13=1
1285,60145124215,FlowNo_2=2,FlowNo_3=1,FlowNo_4=5,FlowNo_5=1,FlowNo_6=5,K1,SET 2,FlowNo_7=1,FlowNo_8=1,FlowNo_9=1,FlowNo_10=1,FlowNo_11=1,FlowNo_12=1,FlowNo_13=1
1869,60179846717,FlowNo_2=1,FlowNo_3=5,FlowNo_4=1,FlowNo_5=5,FlowNo_6=1,K1,SET 2,FlowNo_7=5,FlowNo_8=1,FlowNo_9=2,FlowNo_10=1,FlowNo_11=5,FlowNo_12=1,FlowNo_13=1

In [18]:
# Map responses accordingly (But, for state & ethnic questions have to be mapped conditionally, based on the Region):

# 4a. Anwar Ibrahim
q4a_mapping = {'FlowNo_3=1': '1) Very negative',
              'FlowNo_3=2': '2) Negative',
              'FlowNo_3=3': '3) Neutral',
              'FlowNo_3=4': '4) Positive',
              'FlowNo_3=5': '5) Very positive'}

# 4b. Muhyiddin Yassin
q4b_mapping = {'FlowNo_4=1': '1) Very negative',
              'FlowNo_4=2': '2) Negative',
              'FlowNo_4=3': '3) Neutral',
              'FlowNo_4=4': '4) Positive',
              'FlowNo_4=5': '5) Very positive'}

# 4c. Zahid Hamidi
q4c_mapping = {'FlowNo_5=1': '1) Very negative',
              'FlowNo_5=2': '2) Negative',
              'FlowNo_5=3': '3) Neutral',
              'FlowNo_5=4': '4) Positive',
              'FlowNo_5=5': '5) Very positive'}

# 4d. Hadi Awang
q4d_mapping = {'FlowNo_6=1': '1) Very negative',
              'FlowNo_6=2': '2) Negative',
              'FlowNo_6=3': '3) Neutral',
              'FlowNo_6=4': '4) Positive',
              'FlowNo_6=5': '5) Very positive'}

In [19]:
# 4e. Fadhilah Yusof
q4e_mapping = {'FlowNo_7=1': '1) Very negative',
              'FlowNo_7=2': '2) Negative',
              'FlowNo_7=3': '3) Neutral',
              'FlowNo_7=4': '4) Positive',
              'FlowNo_7=5': '5) Very positive'}

# 4f. Rafizi Ramli
q4f_mapping = {'FlowNo_8=1': '1) Very negative',
              'FlowNo_8=2': '2) Negative',
              'FlowNo_8=3': '3) Neutral',
              'FlowNo_8=4': '4) Positive',
              'FlowNo_8=5': '5) Very positive'}

# 4g. Anthony Loke
q4g_mapping = {'FlowNo_9=1': '1) Very negative',
              'FlowNo_9=2': '2) Negative',
              'FlowNo_9=3': '3) Neutral',
              'FlowNo_9=4': '4) Positive',
              'FlowNo_9=5': '5) Very positive'}

# 4h. Mohamad Hasan
q4h_mapping = {'FlowNo_10=1': '1) Very negative',
              'FlowNo_10=2': '2) Negative',
              'FlowNo_10=3': '3) Neutral',
              'FlowNo_10=4': '4) Positive',
              'FlowNo_10=5': '5) Very positive'}

# 4i. Mohamad Sabu
q4i_mapping = {'FlowNo_11=1': '1) Very negative',
              'FlowNo_11=2': '2) Negative',
              'FlowNo_11=3': '3) Neutral',
              'FlowNo_11=4': '4) Positive',
              'FlowNo_11=5': '5) Very positive'}

In [20]:
gender = {'FlowNo_13=1': 'L ',
          'FlowNo_13=2': 'P '}

# Total CR
print(f"Total CR for Set 2: {set2.shape[0]}")

# Select relevant columns only
set2.dropna(axis='columns', inplace=True)
  
# Rename columns
set2.columns = ['phonenum',
                'State',
                '4a. Anwar Ibrahim',
                '4b. Muhyiddin Yassin',
                '4c. Zahid Hamidi',
                '4d. Hadi Awang',
                'Region',
                'Set',
                '4e. Fadhilah Yusof',
                '4f. Rafizi Ramli',
                '4g. Anthony Loke',
                '4h. Mohamad Hasan',
                '4i. Mohamad Sabu',
                'ethgroup',
                'gender']

# Map response value
set2['4a. Anwar Ibrahim'].replace(q4a_mapping, inplace=True)
set2['4b. Muhyiddin Yassin'].replace(q4b_mapping, inplace=True)
set2['4c. Zahid Hamidi'].replace(q4c_mapping, inplace=True)
set2['4d. Hadi Awang'].replace(q4d_mapping, inplace=True)
set2['4e. Fadhilah Yusof'].replace(q4e_mapping, inplace=True)
set2['4f. Rafizi Ramli'].replace(q4f_mapping, inplace=True)
set2['4g. Anthony Loke'].replace(q4g_mapping, inplace=True)
set2['4h. Mohamad Hasan'].replace(q4h_mapping, inplace=True)
set2['4i. Mohamad Sabu'].replace(q4i_mapping, inplace=True)

# reset column order
set2 = set2[['phonenum',
              'State',
              '4a. Anwar Ibrahim',
              '4b. Muhyiddin Yassin',
              '4c. Zahid Hamidi',
              '4d. Hadi Awang',
              '4e. Fadhilah Yusof',
              '4f. Rafizi Ramli',
              '4g. Anthony Loke',
              '4h. Mohamad Hasan',
              '4i. Mohamad Sabu',
              'ethgroup',
              'Region',
              'Set',
              'gender']]

set2['gender'].replace(gender, inplace=True)

set2.head(3)

Total CR for Set 2: 385

,phonenum,State,4a. Anwar Ibrahim,4b. Muhyiddin Yassin,4c. Zahid Hamidi,4d. Hadi Awang,4e. Fadhilah Yusof,4f. Rafizi Ramli,4g. Anthony Loke,4h. Mohamad Hasan,4i. Mohamad Sabu,ethgroup,Region,Set,gender
351,60129885458,FlowNo_2=1,1) Very negative,1) Very negative,1) Very negative,1) Very negative,1) Very negative,1) Very negative,1) Very negative,1) Very negative,1) Very negative,FlowNo_12=1,K1,SET 2,L
1285,60145124215,FlowNo_2=2,1) Very negative,5) Very positive,1) Very negative,5) Very positive,1) Very negative,1) Very negative,1) Very negative,1) Very negative,1) Very negative,FlowNo_12=1,K1,SET 2,L
1869,60179846717,FlowNo_2=1,5) Very positive,1) Very negative,5) Very positive,1) Very negative,5) Very positive,1) Very negative,2) Negative,1) Very negative,5) Very positive,FlowNo_12=1,K1,SET 2,L

In [21]:
# Assign State values according to Region
set2.loc[set2['Region'] == ' K1', 'State'] = set2.loc[set2['Region'] == ' K1', 'State'].replace(kluster1)

set2.loc[set2['Region'] == ' K2', 'State'] = set2.loc[set2['Region'] == ' K2', 'State'].replace(kluster2)

set2.loc[set2['Region'] == ' K3', 'State'] = set2.loc[set2['Region'] == ' K3', 'State'].replace(kluster3)

set2.loc[set2['Region'] == ' K4', 'State'] = set2.loc[set2['Region'] == ' K4', 'State'].replace(kluster4)

set2.loc[set2['Region'] == ' K5', 'State'] = set2.loc[set2['Region'] == ' K5', 'State'].replace(kluster5)

In [22]:
# Assign Ethnic values according to Region

# Extract only the key press value in ethgroup column
set2['ethgroup_key'] = set2['ethgroup'].str[-1]

set2.loc[set2['Region'] != ' K5', 'ethgroup'] = set2.loc[set2['Region'] != ' K5', 'ethgroup_key'].replace(peninsular_eth)

set2.loc[set2['Region'] == ' K5', 'ethgroup'] = set2.loc[set2['Region'] == ' K5', 'ethgroup_key'].replace(east_eth)

set2.drop(['ethgroup_key'], axis='columns', inplace=True)

set2.head(3)

,phonenum,State,4a. Anwar Ibrahim,4b. Muhyiddin Yassin,4c. Zahid Hamidi,4d. Hadi Awang,4e. Fadhilah Yusof,4f. Rafizi Ramli,4g. Anthony Loke,4h. Mohamad Hasan,4i. Mohamad Sabu,ethgroup,Region,Set,gender
351,60129885458,Kelantan,1) Very negative,1) Very negative,1) Very negative,1) Very negative,1) Very negative,1) Very negative,1) Very negative,1) Very negative,1) Very negative,MELAYU,K1,SET 2,L
1285,60145124215,Terengganu,1) Very negative,5) Very positive,1) Very negative,5) Very positive,1) Very negative,1) Very negative,1) Very negative,1) Very negative,1) Very negative,MELAYU,K1,SET 2,L
1869,60179846717,Kelantan,5) Very positive,1) Very negative,5) Very positive,1) Very negative,5) Very positive,1) Very negative,2) Negative,1) Very negative,5) Very positive,MELAYU,K1,SET 2,L

In [23]:
# drop rows where all columns still contain the string pattern 'FlowNo_'
set2 = set2[~set2.apply(lambda x: x.str.contains('FlowNo_')).any(axis=1)]

In [ ]:
# final check
# for x in set2.columns:
#   print(set2[x].value_counts(normalize=True))
#   print("\n")

In [ ]:
# Export as .xlsx file
# set2.to_excel('ivr_march_pkr2023_set2_cleaned.xlsx', index=False)

### SET 3

In [39]:
print(f'Shape: {set3.shape}')
set3.head(3)

Shape: (698, 15)

,0,1,2,3,4,5,Region,Set,6,7,8,9,10,11,12
80,60134245206,FlowNo_2=2,FlowNo_3=3,FlowNo_4=,FlowNo_5=,FlowNo_6=1,K1,SET 3,FlowNo_7=1,NaN,NaN,NaN,NaN,NaN,NaN
297,60199566453,FlowNo_2=2,FlowNo_3=1,FlowNo_4=4,FlowNo_5=,FlowNo_6=1,K1,SET 3,FlowNo_7=1,NaN,NaN,NaN,NaN,NaN,NaN
940,60133493499,FlowNo_2=3,FlowNo_3=1,FlowNo_4=3,FlowNo_5=,FlowNo_6=1,K1,SET 3,FlowNo_7=1,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
# Map responses accordingly (But, for state & ethnic questions have to be mapped conditionally, based on the Region):

# 5. Are you satisfied with the performance of the current government?
q5_mapping = {'FlowNo_3=1': 'Yes',
              'FlowNo_3=2': 'No',
              'FlowNo_3=3': 'Unsure'}

# 6. [IF YES TO Q5] What is the current Federal Governments most positive legacy?
q6_mapping = {'FlowNo_4=1': 'Improvement of racial and religious situation',
               'FlowNo_4=2': 'Improvement of federal infrastructure',
               'FlowNo_4=3': 'Successfully reducing corruption',
               'FlowNo_4=4': 'Increased economic opportunities',
               'FlowNo_4=5': 'Performing leaders or representatives',
               'FlowNo_4=': ''}

# 7.[IF NO TO Q5] What is the current Federal Governments most negative legacy?
q7_mapping = {'FlowNo_5=1': 'Worsening of racial and religious situation',
               'FlowNo_5=2': 'Neglect of federal infrastructure',
               'FlowNo_5=3': 'Failure to reduce corruption',
               'FlowNo_5=4': 'Failure to create economic opportunities',
               'FlowNo_5=5': 'Poor leaders or representatives',
               'FlowNo_5=': ''}

gender = {'FlowNo_7=1': 'L ',
          'FlowNo_7=2': 'P '}

# Total CR
print(f"Total CR for Set 3: {set3.shape[0]}")

# Select relevant columns only
set3.dropna(axis='columns', inplace=True)
  
# Rename columns
set3.columns = ['phonenum',
                'State',
                '5. Are you satisfied with the performance of the current government?',
                "6. [IF YES TO Q5] What is the current Federal Governments most positive legacy?",
                "7. [IF NO TO Q5] What is the current Federal Governments most negative legacy?",
                'ethgroup',
                'Region',
                'Set',
                'gender']

# Map response value
set3['5. Are you satisfied with the performance of the current government?'].replace(q5_mapping, inplace=True)

set3['6. [IF YES TO Q5] What is the current Federal Governments most positive legacy?'].replace(q6_mapping, inplace=True)

set3['7. [IF NO TO Q5] What is the current Federal Governments most negative legacy?'].replace(q7_mapping, inplace=True)

set3['gender'].replace(gender, inplace=True)

set3.head(3)

Total CR for Set 3: 698

,phonenum,State,5. Are you satisfied with the performance of the current government?,6. [IF YES TO Q5] What is the current Federal Governments most positive legacy?,7. [IF NO TO Q5] What is the current Federal Governments most negative legacy?,ethgroup,Region,Set,gender
80,60134245206,FlowNo_2=2,Unsure,,,FlowNo_6=1,K1,SET 3,L
297,60199566453,FlowNo_2=2,Yes,Increased economic opportunities,,FlowNo_6=1,K1,SET 3,L
940,60133493499,FlowNo_2=3,Yes,Successfully reducing corruption,,FlowNo_6=1,K1,SET 3,L

In [41]:
# Assign State values according to Region
set3.loc[set3['Region'] == ' K1', 'State'] = set3.loc[set3['Region'] == ' K1', 'State'].replace(kluster1)

set3.loc[set3['Region'] == ' K2', 'State'] = set3.loc[set3['Region'] == ' K2', 'State'].replace(kluster2)

set3.loc[set3['Region'] == ' K3', 'State'] = set3.loc[set3['Region'] == ' K3', 'State'].replace(kluster3)

set3.loc[set3['Region'] == ' K4', 'State'] = set3.loc[set3['Region'] == ' K4', 'State'].replace(kluster4)

set3.loc[set3['Region'] == ' K5', 'State'] = set3.loc[set3['Region'] == ' K5', 'State'].replace(kluster5)

In [42]:
# Assign Ethnic values according to Region

# Extract only the key press value in ethgroup column
set3['ethgroup_key'] = set3['ethgroup'].str[-1]

set3.loc[set3['Region'] != ' K5', 'ethgroup'] = set3.loc[set3['Region'] != ' K5', 'ethgroup_key'].replace(peninsular_eth)

set3.loc[set3['Region'] == ' K5', 'ethgroup'] = set3.loc[set3['Region'] == ' K5', 'ethgroup_key'].replace(east_eth)

set3.drop(['ethgroup_key'], axis='columns', inplace=True)

In [43]:
# Manual inspection shows several entries violate skip logic. We'll manually remove this. 

# If q5. == 'Yes', then q7. ought to be empty
set3.loc[set3['5. Are you satisfied with the performance of the current government?'] == 'Yes',
              "7. [IF NO TO Q5] What is the current Federal Governments most negative legacy?"] = set3.loc[set3['5. Are you satisfied with the performance of the current government?'] == 'Yes',
              "7. [IF NO TO Q5] What is the current Federal Governments most negative legacy?"].replace("", inplace=True)

# If q5. == 'No', then q6. ought to be empty
set3.loc[set3['5. Are you satisfied with the performance of the current government?'] == 'No',
              "6. [IF YES TO Q5] What is the current Federal Governments most positive legacy?"] = set3.loc[set3['5. Are you satisfied with the performance of the current government?'] == 'No',
              "6. [IF YES TO Q5] What is the current Federal Governments most positive legacy?"].replace("", inplace=True)

# If q5. == 'Unsure', then q6. & q7. ought to be empty
set3.loc[set3['5. Are you satisfied with the performance of the current government?'] == 'Unsure',
              ["6. [IF YES TO Q5] What is the current Federal Governments most positive legacy?",
               "7. [IF NO TO Q5] What is the current Federal Governments most negative legacy?"]] = set3.loc[set3['5. Are you satisfied with the performance of the current government?'] == 'Unsure',
              ["6. [IF YES TO Q5] What is the current Federal Governments most positive legacy?",
               "7. [IF NO TO Q5] What is the current Federal Governments most negative legacy?"]].replace("", inplace=True)

In [44]:
# drop rows where columns still contain the string pattern 'FlowNo_'
set3 = set3[~set3.apply(lambda x: x.str.contains('FlowNo_')).any(axis=1)]

In [ ]:
# final check
# for x in set3.columns:
#   print(set3[x].value_counts(normalize=True))
#   print("\n")

In [45]:
print(f'Shape: {set3.shape}')
set3.head(3)

Shape: (682, 9)

,phonenum,State,5. Are you satisfied with the performance of the current government?,6. [IF YES TO Q5] What is the current Federal Governments most positive legacy?,7. [IF NO TO Q5] What is the current Federal Governments most negative legacy?,ethgroup,Region,Set,gender
80,60134245206,Terengganu,Unsure,None,None,MELAYU,K1,SET 3,L
297,60199566453,Terengganu,Yes,Increased economic opportunities,None,MELAYU,K1,SET 3,L
940,60133493499,Pahang,Yes,Successfully reducing corruption,None,MELAYU,K1,SET 3,L

In [46]:
# Export as .xlsx file
# set3.to_excel('ivr_pkr2023_set3_cleaned.xlsx', index=False)

### SET 4

In [ ]:
set4.head(3)

,0,1,2,3,4,5,Region,Set,6,7,8,9,10,11,12
74,601136277810,FlowNo_2=1,FlowNo_3=2,FlowNo_4=2,FlowNo_5=1,FlowNo_6=1,K2,SET 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,60194337371,FlowNo_2=1,FlowNo_3=1,FlowNo_4=3,FlowNo_5=1,FlowNo_6=1,K2,SET 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,60164827158,FlowNo_2=2,FlowNo_3=2,FlowNo_4=2,FlowNo_5=1,FlowNo_6=1,K2,SET 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Map responses accordingly (But, for state & ethnic questions have to be mapped conditionally, based on the Region):

# 8. Are you satisfied with the performance of the Prime Minister?
q8_mapping = {'FlowNo_3=1': 'Yes',
              'FlowNo_3=2': 'No',
              'FlowNo_3=3': 'Unsure'}

# 9. Between the current unity government and the previous PN-BN government, which are you more satisfied with?
q9_mapping = {'FlowNo_4=1': 'Unity Gov.',
              'FlowNo_4=2': 'PN-BN',
              'FlowNo_4=3': 'About the same'}

gender = {'FlowNo_6=1': 'L ',
          'FlowNo_6=2': 'P '}

# Total CR
print(f"Total CR for Set 4: {set4.shape[0]}")

# Select relevant columns only
set4.dropna(axis='columns', inplace=True)
  
# Rename columns
set4.columns = ['phonenum',
                'State',
                '8. Are you satisfied with the performance of the Prime Minister?',
                '9. Between the current unity government and the previous PN-BN government, which are you more satisfied with?',
                'ethgroup',
                'gender',
                'Region',
                'Set']

# Map response value
set4['8. Are you satisfied with the performance of the Prime Minister?'].replace(q8_mapping, inplace=True)

set4['9. Between the current unity government and the previous PN-BN government, which are you more satisfied with?'].replace(q9_mapping, inplace=True)

set4['gender'].replace(gender, inplace=True)

set4.head(3)

Total CR for Set 4: 608

,phonenum,State,8. Are you satisfied with the performance of the Prime Minister?,"9. Between the current unity government and the previous PN-BN government, which are you more satisfied with?",ethgroup,gender,Region,Set
74,601136277810,FlowNo_2=1,No,PN-BN government,FlowNo_5=1,L,K2,SET 4
146,60194337371,FlowNo_2=1,Yes,About the same,FlowNo_5=1,L,K2,SET 4
268,60164827158,FlowNo_2=2,No,PN-BN government,FlowNo_5=1,L,K2,SET 4

In [ ]:
# Assign State values according to Region
set4.loc[set4['Region'] == ' K1', 'State'] = set4.loc[set4['Region'] == ' K1', 'State'].replace(kluster1)

set4.loc[set4['Region'] == ' K2', 'State'] = set4.loc[set4['Region'] == ' K2', 'State'].replace(kluster2)

set4.loc[set4['Region'] == ' K3', 'State'] = set4.loc[set4['Region'] == ' K3', 'State'].replace(kluster3)

set4.loc[set4['Region'] == ' K4', 'State'] = set4.loc[set4['Region'] == ' K4', 'State'].replace(kluster4)

set4.loc[set4['Region'] == ' K5', 'State'] = set4.loc[set4['Region'] == ' K5', 'State'].replace(kluster5)

In [ ]:
# Assign Ethnic values according to Region

# Extract only the key press value in ethgroup column
set4['ethgroup_key'] = set4['ethgroup'].str[-1]

set4.loc[set4['Region'] != ' K5', 'ethgroup'] = set4.loc[set4['Region'] != ' K5', 'ethgroup_key'].replace(peninsular_eth)

set4.loc[set4['Region'] == ' K5', 'ethgroup'] = set4.loc[set4['Region'] == ' K5', 'ethgroup_key'].replace(east_eth)

set4.drop(['ethgroup_key'], axis='columns', inplace=True)

In [ ]:
# drop rows where all columns still contain the string pattern 'FlowNo_'
set4 = set4[~set4.apply(lambda x: x.str.contains('FlowNo_')).any(axis=1)]

In [ ]:
set4.head(3)

,phonenum,State,8. Are you satisfied with the performance of the Prime Minister?,"9. Between the current unity government and the previous PN-BN government, which are you more satisfied with?",ethgroup,gender,Region,Set
74,601136277810,Kedah,No,PN-BN government,MELAYU,L,K2,SET 4
146,60194337371,Kedah,Yes,About the same,MELAYU,L,K2,SET 4
268,60164827158,Pulau Pinang,No,PN-BN government,MELAYU,L,K2,SET 4

In [ ]:
# final check
# for x in set4.columns:
#   print(set4[x].value_counts(normalize=True))
#   print("\n")

In [ ]:
# Export as .xlsx file
# set4.to_excel('ivr_pkr2023_set4_cleaned.xlsx', index=False)

### SET 5

In [47]:
set5.head(3)

,0,1,2,3,4,5,Region,Set,6,7,8,9,10,11,12
1338,60199014607,FlowNo_2=3,FlowNo_3=3,FlowNo_4=,FlowNo_5=,FlowNo_6=1,K1,SET 5,FlowNo_7=2,NaN,NaN,NaN,NaN,NaN,NaN
1788,60123944869,FlowNo_2=3,FlowNo_3=3,FlowNo_4=,FlowNo_5=,FlowNo_6=1,K1,SET 5,FlowNo_7=1,NaN,NaN,NaN,NaN,NaN,NaN
3063,60148225957,FlowNo_2=1,FlowNo_3=3,FlowNo_4=,FlowNo_5=,FlowNo_6=1,K1,SET 5,FlowNo_7=1,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Map responses accordingly (But, for state & ethnic questions have to be mapped conditionally, based on the Region):

# 11. Are you satisfied with the current State Governments performance?
q11_mapping = {'FlowNo_3=1': 'Yes',
              'FlowNo_3=2': 'No',
              'FlowNo_3=3': 'Unsure'}

# 12. [IF YES TO Q11] What is the current state government's most positive legacy?
q12_mapping = {'FlowNo_4=1': 'Empowerment of Islam and Malay-Muslim institutions',
              'FlowNo_4=2': 'Improvement of local infrastructure',
              'FlowNo_4=3': 'Success at addressing floods and other crises',
              'FlowNo_4=4': 'Increased economic opportunities',
              'FlowNo_4=5': 'Performing leaders or representatives',
              'FlowNo_4=': ""}

# 13.[IF NO TO Q11] What is the current state governments most negative legacy?
q13_mapping = {'FlowNo_5=1': 'Neglect of Islam and Malay-Muslim institution',
              'FlowNo_5=2': 'Neglect of local infrastructure',
              'FlowNo_5=3': 'Failure to prepare for floods and other crises',
              'FlowNo_5=4': 'Failure to create economic opportunities',
              'FlowNo_5=5': 'Poor leaders or representatives',
              'FlowNo_5=': ""}

gender = {'FlowNo_7=1': 'L ',
          'FlowNo_7=2': 'P '}

# Total CR
print(f"Total CR for Set 5: {set5.shape[0]}")

# Select relevant columns only
set5.dropna(axis='columns', inplace=True)
  
# Rename columns
set5.columns = ['phonenum',
                'State',
                "11. Are you satisfied with the current State Governments performance?",
                "12. [IF YES TO Q11] What is the current state government's most positive legacy?",
                "13. [IF NO TO Q11] What is the current state governments most negative legacy?",
                'ethgroup',
                'Region',
                'Set',
                'gender']

# Map response value
set5['11. Are you satisfied with the current State Governments performance?'].replace(q11_mapping, inplace=True)

set5["12. [IF YES TO Q11] What is the current state government's most positive legacy?"].replace(q12_mapping, inplace=True)

set5["13. [IF NO TO Q11] What is the current state governments most negative legacy?"].replace(q13_mapping, inplace=True)

set5['gender'].replace(gender, inplace=True)

set5.head(3)

Total CR for Set 5: 180

,phonenum,State,11. Are you satisfied with the current State Governments performance?,12. [IF YES TO Q11] What is the current state government's most positive legacy?,13. [IF NO TO Q11] What is the current state governments most negative legacy?,ethgroup,Region,Set,gender
1338,60199014607,FlowNo_2=3,Unsure,,,FlowNo_6=1,K1,SET 5,P
1788,60123944869,FlowNo_2=3,Unsure,,,FlowNo_6=1,K1,SET 5,L
3063,60148225957,FlowNo_2=1,Unsure,,,FlowNo_6=1,K1,SET 5,L

In [ ]:
# Assign State values according to Region
set5.loc[set5['Region'] == ' K1', 'State'] = set5.loc[set5['Region'] == ' K1', 'State'].replace(kluster1)

set5.loc[set5['Region'] == ' K2', 'State'] = set5.loc[set5['Region'] == ' K2', 'State'].replace(kluster2)

set5.loc[set5['Region'] == ' K3', 'State'] = set5.loc[set5['Region'] == ' K3', 'State'].replace(kluster3)

set5.loc[set5['Region'] == ' K4', 'State'] = set5.loc[set5['Region'] == ' K4', 'State'].replace(kluster4)

set5.loc[set5['Region'] == ' K5', 'State'] = set5.loc[set5['Region'] == ' K5', 'State'].replace(kluster5)

In [ ]:
# Assign Ethnic values according to Region

# Extract only the key press value in ethgroup column
set5['ethgroup_key'] = set5['ethgroup'].str[-1]

set5.loc[set5['Region'] != ' K5', 'ethgroup'] = set5.loc[set5['Region'] != ' K5', 'ethgroup_key'].replace(peninsular_eth)

set5.loc[set5['Region'] == ' K5', 'ethgroup'] = set5.loc[set5['Region'] == ' K5', 'ethgroup_key'].replace(east_eth)

set5.drop(['ethgroup_key'], axis='columns', inplace=True)

In [ ]:
# Just in case any entries violate skip logic. We'll manually remove this. 

# If q11. == 'Yes', then q13. ought to be empty
set3.loc[set3["11. Are you satisfied with the current State Governments performance?"] == 'Yes',
              "13. [IF NO TO Q11] What is the current state governments most negative legacy?"] = set3.loc[set3[""] == 'Yes',
              "13. [IF NO TO Q11] What is the current state governments most negative legacy?"].replace("", inplace=True)

# If q11. == 'No', then q12. ought to be empty
set3.loc[set3["11. Are you satisfied with the current State Governments performance?"] == 'No',
              "12. [IF YES TO Q11] What is the current state government's most positive legacy?"] = set3.loc[set3[""] == 'No',
              "12. [IF YES TO Q11] What is the current state government's most positive legacy?"].replace("", inplace=True)

# If q11. == 'Unsure', then q12. & q13. ought to be empty
set3.loc[set3["11. Are you satisfied with the current State Governments performance?"] == 'Unsure',
              ["13. [IF NO TO Q11] What is the current state governments most negative legacy?",
              "12. [IF YES TO Q11] What is the current state government's most positive legacy?"]] = set3.loc[set3[""] == 'Unsure',
              ["13. [IF NO TO Q11] What is the current state governments most negative legacy?",
              "12. [IF YES TO Q11] What is the current state government's most positive legacy?"]].replace("", inplace=True)

In [ ]:
# drop rows where all columns still contain the string pattern 'FlowNo_'
set5 = set5[~set5.apply(lambda x: x.str.contains('FlowNo_')).any(axis=1)]

In [ ]:
set5.head(3)

,phonenum,State,11. Are you satisfied with the current State Governments performance?,12. [IF YES TO Q11] What is the current state government's most positive legacy?,13. [IF NO TO Q11] What is the current state governments most negative legacy?,ethgroup,Region,Set,gender
1338,60199014607,Pahang,Unsure,,,MELAYU,K1,SET 5,P
1788,60123944869,Pahang,Unsure,,,MELAYU,K1,SET 5,L
3063,60148225957,Kelantan,Unsure,,,MELAYU,K1,SET 5,L

In [48]:
# final check
for x in set5.columns:
  print(set5[x].value_counts(normalize=True))
  print("\n")

60199014607    0.005556
60166578829    0.005556
60127993102    0.005556
60195194572    0.005556
60197716231    0.005556
                 ...
60193884620    0.005556
60192525201    0.005556
60123952291    0.005556
60173212331    0.005556
60145224748    0.005556
Name: 0, Length: 180, dtype: float64


FlowNo_2=2    0.422222
FlowNo_2=1    0.405556
FlowNo_2=3    0.144444
FlowNo_2=4    0.027778
Name: 1, dtype: float64


FlowNo_3=3    1.0
Name: 2, dtype: float64


FlowNo_4=    1.0
Name: 3, dtype: float64


FlowNo_5=    1.0
Name: 4, dtype: float64


FlowNo_6=1    0.744444
FlowNo_6=2    0.116667
FlowNo_6=4    0.088889
FlowNo_6=3    0.050000
Name: 5, dtype: float64


 K3    0.316667
 K4    0.294444
 K1    0.222222
 K2    0.166667
Name: Region, dtype: float64


SET 5    1.0
Name: Set, dtype: float64


FlowNo_7=1    0.566667
FlowNo_7=2    0.433333
Name: 6, dtype: float64


Series([], Name: 7, dtype: float64)


Series([], Name: 8, dtype: float64)


Series([], Name: 9, dtype: float64)


Series([], Name: 10, dtype: float64)


Series([], Name: 11, dtype: float64)


Series([], Name: 12, dtype: float64)

In [ ]:
# Export as .xlsx file
# set5.to_excel('ivr_pkr2023_set5_cleaned.xlsx', index=False)

### SET 6

In [ ]:
set6.head(3)

,0,1,2,3,4,5,Region,Set,6,7,8,9,10,11,12
598,60148067252,FlowNo_2=1,FlowNo_3=1,FlowNo_4=6,FlowNo_5=2,FlowNo_6=1,K1,SET 6,FlowNo_7=1,NaN,NaN,NaN,NaN,NaN,NaN
1431,60125436066,FlowNo_2=2,FlowNo_3=1,FlowNo_4=3,FlowNo_5=2,FlowNo_6=3,K1,SET 6,FlowNo_7=1,NaN,NaN,NaN,NaN,NaN,NaN
1453,60199191617,FlowNo_2=1,FlowNo_3=1,FlowNo_4=3,FlowNo_5=4,FlowNo_6=1,K1,SET 6,FlowNo_7=1,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Map responses accordingly (But, for state & ethnic questions have to be mapped conditionally, based on the Region):

# 14. Do you plan to vote in the upcoming state elections?
q14_mapping = {'FlowNo_3=1': 'Yes',
              'FlowNo_3=2': 'No',
              'FlowNo_3=3': 'Unsure'}

# 15. What are the two most important factors when choosing which party to vote for in the state elections
# q15a
q15a_mapping = {'FlowNo_4=1': "Partys ability to increase economic opportunities in the state",
              'FlowNo_4=2': "Partys ability to safeguard my ethno-religious interests",
              'FlowNo_4=3': "Partys ability to tackle corruption",
              'FlowNo_4=4': "Partys ability to form a stable government",
              'FlowNo_4=5': "Partys choice of Menteri Besar or Chief Minister",
              'FlowNo_4=6': "Party is part of Federal Government"}

# q15b
q15b_mapping = {'FlowNo_5=1': "Partys ability to increase economic opportunities in the state",
              'FlowNo_5=2': "Partys ability to safeguard my ethno-religious interests",
              'FlowNo_5=3': "Partys ability to tackle corruption",
              'FlowNo_5=4': "Partys ability to form a stable government",
              'FlowNo_5=5': "Partys choice of Menteri Besar or Chief Minister",
              'FlowNo_5=6': "Party is part of Federal Government"}

gender = {'FlowNo_7=1': 'L ',
          'FlowNo_7=2': 'P '}

# Total CR
print(f"Total CR for Set 6: {set6.shape[0]}")

# Select relevant columns only
set6.dropna(axis='columns', inplace=True)
  
# Rename columns
set6.columns = ['phonenum',
                'State',
                '14. Do you plan to vote in the upcoming state elections?',
                'q15a',
                'q15b',
                'ethgroup',
                'Region',
                'Set',
                'gender']

# Map response value
set6['14. Do you plan to vote in the upcoming state elections?'].replace(q14_mapping, inplace=True)

set6['q15a'].replace(q15a_mapping, inplace=True)

set6['q15b'].replace(q15b_mapping, inplace=True)

set6['15. What are the two most important factors when choosing which party to vote for in the state elections?'] = set6['q15a'] + ', ' + set6['q15b']

set6['gender'].replace(gender, inplace=True)

# drop the `q15b` and `q15a` columns
set6 = set6[['phonenum', 
             'State',
             '14. Do you plan to vote in the upcoming state elections?',
             '15. What are the two most important factors when choosing which party to vote for in the state elections?',
             'ethgroup', 'Region', 'Set', 'gender']]

set6.head(3)

Total CR for Set 6: 423

,phonenum,State,14. Do you plan to vote in the upcoming state elections?,15. What are the two most important factors when choosing which party to vote for in the state elections,ethgroup,Region,Set,gender
598,60148067252,FlowNo_2=1,PN-BN,"Party is part of Federal Government, Partys a...",FlowNo_6=1,K1,SET 6,L
1431,60125436066,FlowNo_2=2,PN-BN,"Partys ability to tackle corruption, Partys ...",FlowNo_6=3,K1,SET 6,L
1453,60199191617,FlowNo_2=1,PN-BN,"Partys ability to tackle corruption, Partys ...",FlowNo_6=1,K1,SET 6,L

In [ ]:
# Assign State values according to Region
set6.loc[set6['Region'] == ' K1', 'State'] = set6.loc[set6['Region'] == ' K1', 'State'].replace(kluster1)

set6.loc[set6['Region'] == ' K2', 'State'] = set6.loc[set6['Region'] == ' K2', 'State'].replace(kluster2)

set6.loc[set6['Region'] == ' K3', 'State'] = set6.loc[set6['Region'] == ' K3', 'State'].replace(kluster3)

set6.loc[set6['Region'] == ' K4', 'State'] = set6.loc[set6['Region'] == ' K4', 'State'].replace(kluster4)

set6.loc[set6['Region'] == ' K5', 'State'] = set6.loc[set6['Region'] == ' K5', 'State'].replace(kluster5)

In [ ]:
# Assign Ethnic values according to Region

# Extract only the key press value in ethgroup column
set6['ethgroup_key'] = set6['ethgroup'].str[-1]

set6.loc[set6['Region'] != ' K5', 'ethgroup'] = set6.loc[set6['Region'] != ' K5', 'ethgroup_key'].replace(peninsular_eth)

set6.loc[set6['Region'] == ' K5', 'ethgroup'] = set6.loc[set6['Region'] == ' K5', 'ethgroup_key'].replace(east_eth)

set6.drop(['ethgroup_key'], axis='columns', inplace=True)

In [ ]:
# drop rows where all columns contain the string pattern 'FlowNo_'
set6 = set6[~set6.apply(lambda x: x.str.contains('FlowNo_')).any(axis=1)]

In [ ]:
set6.head(3)

,phonenum,State,14. Do you plan to vote in the upcoming state elections?,15. What are the two most important factors when choosing which party to vote for in the state elections,ethgroup,Region,Set,gender
598,60148067252,Kelantan,PN-BN,"Party is part of Federal Government, Partys a...",MELAYU,K1,SET 6,L
1431,60125436066,Terengganu,PN-BN,"Partys ability to tackle corruption, Partys ...",INDIA,K1,SET 6,L
1453,60199191617,Kelantan,PN-BN,"Partys ability to tackle corruption, Partys ...",MELAYU,K1,SET 6,L

In [ ]:
# final check
# for x in set6.columns:
#   print(set6[x].value_counts(normalize=True))
#   print("\n")

In [ ]:
# Export as .xlsx file
# set6.to_excel('ivr_pkr2023_set6_cleaned.xlsx', index=False)

### SET 7

In [ ]:
set7.head(3)

,0,1,2,3,4,5,Region,Set,6,7,8,9,10,11,12
203,60134856332,FlowNo_2=1,FlowNo_3=1,FlowNo_4=2,FlowNo_5=1,FlowNo_6=1,K2,SET 7,FlowNo_7=2,NaN,NaN,NaN,NaN,NaN,NaN
276,60194585551,FlowNo_2=1,FlowNo_3=1,FlowNo_4=1,FlowNo_5=1,FlowNo_6=1,K2,SET 7,FlowNo_7=1,NaN,NaN,NaN,NaN,NaN,NaN
533,60194192116,FlowNo_2=2,FlowNo_3=2,FlowNo_4=1,FlowNo_5=3,FlowNo_6=3,K2,SET 7,FlowNo_7=1,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Map responses accordingly

# 16. From the following options, who are you most likely to vote for? [PN v. PH]
q16_mapping = {'FlowNo_3=1': 'PN',
              'FlowNo_3=2': 'PH'} 

# 17. From the following options, who are you most likely to vote for? [PN v. BN]
q17_mapping = {'FlowNo_4=1': 'PN',
              'FlowNo_4=2': 'BN'}

# 18. From the following options, who are you most likely to vote for? [3 WAY]
q18_mapping = {'FlowNo_5=1': 'PN',
              'FlowNo_5=2': 'BN',
              'FlowNo_5=3': 'PH'}

gender = {'FlowNo_7=1': 'L ',
          'FlowNo_7=2': 'P '}

# Total CR
print(f"Total CR for Set 7: {set7.shape[0]}")

# Select relevant columns only
set7.dropna(axis='columns', inplace=True)
  
# Rename columns
set7.columns = ['phonenum',
                'State',
                '16. From the following options, who are you most likely to vote for? [PN v. PH]',
                '17. From the following options, who are you most likely to vote for? [PN v. BN]',
                '18. From the following options, who are you most likely to vote for? [3 WAY]',
                'ethgroup',
                'Region',
                'Set',
                'gender',]

# Map response value
set7['16. From the following options, who are you most likely to vote for? [PN v. PH]'].replace(q16_mapping, inplace=True)

set7['17. From the following options, who are you most likely to vote for? [PN v. BN]'].replace(q17_mapping, inplace=True)

set7['18. From the following options, who are you most likely to vote for? [3 WAY]'].replace(q18_mapping, inplace=True)

set7['gender'].replace(gender, inplace=True)

set7.head(3)

Total CR for Set 7: 356

,phonenum,State,"16. From the following options, who are you most likely to vote for? [PN v. PH]","17. From the following options, who are you most likely to vote for? [PN v. BN]","18. From the following options, who are you most likely to vote for? [3 WAY]",ethgroup,Region,Set,gender
203,60134856332,FlowNo_2=1,PN,BN,PN,FlowNo_6=1,K2,SET 7,P
276,60194585551,FlowNo_2=1,PN,PN,PN,FlowNo_6=1,K2,SET 7,L
533,60194192116,FlowNo_2=2,PH,PN,PH,FlowNo_6=3,K2,SET 7,L

In [ ]:
# Assign State values according to Region
set7.loc[set7['Region'] == ' K1', 'State'] = set7.loc[set7['Region'] == ' K1', 'State'].replace(kluster1)

set7.loc[set7['Region'] == ' K2', 'State'] = set7.loc[set7['Region'] == ' K2', 'State'].replace(kluster2)

set7.loc[set7['Region'] == ' K3', 'State'] = set7.loc[set7['Region'] == ' K3', 'State'].replace(kluster3)

set7.loc[set7['Region'] == ' K4', 'State'] = set7.loc[set7['Region'] == ' K4', 'State'].replace(kluster4)

set7.loc[set7['Region'] == ' K5', 'State'] = set7.loc[set7['Region'] == ' K5', 'State'].replace(kluster5)

In [ ]:
# Assign Ethnic values according to Region

# Extract only the key press value in ethgroup column
set7['ethgroup_key'] = set7['ethgroup'].str[-1]

set7.loc[set7['Region'] != ' K5', 'ethgroup'] = set7.loc[set7['Region'] != ' K5', 'ethgroup_key'].replace(peninsular_eth)

set7.loc[set7['Region'] == ' K5', 'ethgroup'] = set7.loc[set7['Region'] == ' K5', 'ethgroup_key'].replace(east_eth)

set7.drop(['ethgroup_key'], axis='columns', inplace=True)

In [ ]:
# drop rows where all columns still contain the string pattern 'FlowNo_'
set7 = set7[~set7.apply(lambda x: x.str.contains('FlowNo_')).any(axis=1)]

In [ ]:
# final check
# for x in set7.columns:
#   print(set7[x].value_counts(normalize=True))
#   print("\n")

In [ ]:
set7.head(3)

,phonenum,State,"16. From the following options, who are you most likely to vote for? [PN v. PH]","17. From the following options, who are you most likely to vote for? [PN v. BN]","18. From the following options, who are you most likely to vote for? [3 WAY]",ethgroup,Region,Set,gender
203,60134856332,Kedah,PN,BN,PN,MELAYU,K2,SET 7,P
276,60194585551,Kedah,PN,PN,PN,MELAYU,K2,SET 7,L
533,60194192116,Pulau Pinang,PH,PN,PH,INDIA,K2,SET 7,L

## Combine IVR Results
for matching purposes in Databricks

In [ ]:
ivr_merge = pd.concat([set1, set2, set3, set4, set5, set6, set7], axis='index')

# rearrange columns
ivr_merge = ivr_merge[['phonenum',
                '1. Which of the following issues is most important to you?',
                '2. Are you satisfied with the current economic situation?',
                '4a. Anwar Ibrahim',
                '4b. Muhyiddin Yassin',
                '4c. Zahid Hamidi',
                '4d. Hadi Awang',
                '4e. Fadhilah Yusof',
                '4f. Rafizi Ramli',
                '4g. Anthony Loke',
                '4h. Mohamad Hasan',
                '4i. Mohamad Sabu',
                '5. Are you satisfied with the performance of the current government?',
                "6. [IF YES TO Q5] What is the current Federal Governments most positive legacy?",
                "7. [IF NO TO Q5] What is the current Federal Governments most negative legacy?",
                '8. Are you satisfied with the performance of the Prime Minister?',
                '9. Between the current unity government and the previous PN-BN government, which are you more satisfied with?',
                "11. Are you satisfied with the current State Governments performance?",
                "12. [IF YES TO Q11] What is the current state government's most positive legacy?",
                "13. [IF NO TO Q11] What is the current state governments most negative legacy?",
                '14. Do you plan to vote in the upcoming state elections?',
                '15. What are the two most important factors when choosing which party to vote for in the state elections?'
                '16. From the following options, who are you most likely to vote for? [PN v. PH]',
                '17. From the following options, who are you most likely to vote for? [PN v. BN]',
                '18. From the following options, who are you most likely to vote for? [3 WAY]',
                'ethgroup',
                'gender',
                'Set',
                'State',
                'Region']]

In [ ]:
ivr_merge.to_excel('ivr_may_pkr2023_all_sets_cleaned_v{}.xlsx'.format(formatted_date.replace('/', '')), index=False)

## CR count per State

In [ ]:
ivr_merge['State'].value_counts()

Selangor           401
Kelantan           400
Kedah              363
Johor              347
Pulau Pinang       279
Terengganu         231
Melaka             224
Perak              215
Pahang             186
Kuala Lumpur       149
Sabah              114
Negeri Sembilan     98
Perlis              77
Sarawak             70
Lain-lain           40
Name: State, dtype: int64

## Check for any null values in demographic columns

In [ ]:
ivr_merge[['gender', 'ethgroup', 'State', 'Region']].isnull().sum()

gender      0
ethgroup    0
State       0
Region      0
dtype: int64

## Progress Check: Raw CR count per Set & Region

In [ ]:
# by Set
print('CR count by Set:')
print('----------------')
ivr_merge['Set'].value_counts()

CR count by Set:
----------------

SET 3    682
SET 4    608
SET 1    560
SET 6    423
SET 2    385
SET 7    356
SET 5    180
Name: Set, dtype: int64

In [ ]:
# by Region
print('CR count by Region:')
print('-------------------')
ivr_merge['Region'].value_counts()

CR count by Region:
-------------------

 K3    903
 K1    817
 K2    719
 K4    571
 K5    184
Name: Region, dtype: int64

In [ ]:
sets = [set1, set2, set3, set4,
        set5, set6, set7]

# track State progress by Set.
df_list = []
for i, j in enumerate(sets):
  value_counts = pd.value_counts(j['State'])
  df_list.append(pd.DataFrame({'State': value_counts.index, f'Set {i+1}': value_counts}).set_index('State'))

df_combined = pd.concat(df_list, axis=1)

df_combined.to_excel('ivr_progress_check_v{}.xlsx'.format(formatted_date.replace('/', '')))

print('                        State CR count by Set                          ')
print('-----------------------------------------------------------------------')
df_combined

                        State CR count by Set
-----------------------------------------------------------------------

                 Set 1  Set 2  Set 3  Set 4  Set 5  Set 6  Set 7
State
Kedah             69.0     18  100.0   73.0   10.0   55.0   38.0
Kelantan          66.0     52   81.0   72.0   20.0   53.0   56.0
Selangor          54.0     47   82.0   93.0   22.0   52.0   51.0
Johor             50.0     43   68.0   75.0   30.0   44.0   37.0
Sabah             50.0     27   37.0    NaN    NaN    NaN    NaN
Pulau Pinang      45.0     13   65.0   67.0   15.0   41.0   33.0
Melaka            39.0     25   31.0   42.0   23.0   38.0   26.0
Terengganu        39.0     17   57.0   45.0    9.0   35.0   29.0
Sarawak           35.0      8   27.0    NaN    NaN    NaN    NaN
Pahang            30.0     24   41.0   30.0   11.0   31.0   19.0
Kuala Lumpur      26.0     18   18.0   36.0   10.0   20.0   21.0
Perak             23.0     31   38.0   47.0   20.0   28.0   28.0
Negeri Sembilan   19.0     13   23.0   14.0    5.0   14.0   10.0
Perlis            15.0      9   14.0   14.0    5.0   12.0    8.0
Lain-lain          NaN     40    NaN    NaN    NaN    NaN    NaN

## Read matched results

`ivr_pkr2023_all_sets_cleaned.xlsx` (or `ivr_merge` df) has gone thru phone no. matching in databricks (using Bluebox) to get other demographic information, and saved as `ivr_pkr2023_all_sets_matched.csv`.

In [ ]:
ivr_matched = pd.read_csv('ivr_may_pkr2023_all_sets_matched_v{}.csv'.format(formatted_date.replace('/', '')))

# Drop irrelevant columns
ivr_matched.drop(['age_2023', 'NamaParlimen', 'gender_validation','ethnic_validation', 'gender_ethnic_matched',
                  'state_validation', 'ethgroup_temp', 'pred_incomegroup'],
                 axis='columns',
                 inplace=True)

In [ ]:
# reorder columns
ivr_matched = ivr_matched[['phonenum',
                '1. Which of the following issues is most important to you?',
                '2. Are you satisfied with the current economic situation?',
                '4a. Anwar Ibrahim',
                '4b. Muhyiddin Yassin',
                '4c. Zahid Hamidi',
                '4d. Hadi Awang',
                '4e. Fadhilah Yusof',
                '4f. Rafizi Ramli',
                '4g. Anthony Loke',
                '4h. Mohamad Hasan',
                '4i. Mohamad Sabu',
                '5. Are you satisfied with the performance of the current government?',
                "6. [IF YES TO Q5] What is the current Federal Governments most positive legacy?",
                "7. [IF NO TO Q5] What is the current Federal Governments most negative legacy?",
                '8. Are you satisfied with the performance of the Prime Minister?',
                '9. Between the current unity government and the previous PN-BN government, which are you more satisfied with?',
                "11. Are you satisfied with the current State Governments performance?",
                "12. [IF YES TO Q11] What is the current state government's most positive legacy?",
                "13. [IF NO TO Q11] What is the current state governments most negative legacy?",
                '14. Do you plan to vote in the upcoming state elections?',
                '16. From the following options, who are you most likely to vote for? [PN v. PH]',
                '17. From the following options, who are you most likely to vote for? [PN v. BN]',
                '18. From the following options, who are you most likely to vote for? [3 WAY]',
                'ethgroup',
                'agegroup',
                'gender',
                'urbanity',
                'State',
                'Region',
                'Set']]

In [ ]:
ivr_matched.shape

(2563, 31)

In [ ]:
# Check if all changes has been reflected
for col in ivr_matched.columns:
  print(ivr_matched[col].value_counts(normalize=True))
  print("\n")

60134251483     0.00039
60199543960     0.00039
60168105094     0.00039
60193492709     0.00039
60193847796     0.00039
                 ...
60136829505     0.00039
60145413619     0.00039
60198880829     0.00039
601119971532    0.00039
60172947254     0.00039
Name: phonenum, Length: 2563, dtype: float64


Cost of living and job opportunities    0.630385
Corruption                              0.117914
Strength of national economy            0.113379
Political stability                     0.081633
Quality of national education           0.056689
Name: 1. Which of the following issues is most important to you?, dtype: float64


No     0.761905
Yes    0.238095
Name: 2. Are you satisfied with the current economic situation?, dtype: float64


1) Very negative    0.329932
5) Very positive    0.326531
3) Neutral          0.176871
2) Negative         0.095238
4) Positive         0.071429
Name: 4a. Anwar Ibrahim, dtype: float64


1) Very negative    0.357143
5) Very positive    0.295918
3) Neutral          0.159864
2) Negative         0.098639
4) Positive         0.088435
Name: 4b. Muhyiddin Yassin, dtype: float64


1) Very negative    0.513605
3) Neutral          0.159864
2) Negative         0.146259
5) Very positive    0.139456
4) Positive         0.040816
Name: 4c. Zahid Hamidi, dtype: float64


1) Very negative    0.360544
5) Very positive    0.292517
3) Neutral          0.163265
2) Negative         0.095238
4) Positive         0.088435
Name: 4d. Hadi Awang, dtype: float64


3) Neutral          0.272109
1) Very negative    0.255102
2) Negative         0.170068
4) Positive         0.153061
5) Very positive    0.149660
Name: 4e. Fadhilah Yusof, dtype: float64


1) Very negative    0.452381
5) Very positive    0.187075
3) Neutral          0.149660
2) Negative         0.115646
4) Positive         0.095238
Name: 4f. Rafizi Ramli, dtype: float64


1) Very negative    0.333333
5) Very positive    0.241497
3) Neutral          0.156463
2) Negative         0.156463
4) Positive         0.112245
Name: 4g. Anthony Loke, dtype: float64


3) Neutral          0.289116
1) Very negative    0.285714
2) Negative         0.149660
5) Very positive    0.139456
4) Positive         0.136054
Name: 4h. Mohamad Hasan, dtype: float64


1) Very negative    0.370748
3) Neutral          0.190476
2) Negative         0.166667
5) Very positive    0.166667
4) Positive         0.105442
Name: 4i. Mohamad Sabu, dtype: float64


Yes       0.368324
No        0.327808
Unsure    0.303867
Name: 5. Are you satisfied with the performance of the current government?, dtype: float64


Improvement of racial and religious situation    0.287129
Increased economic opportunities                 0.267327
Successfully reducing corruption                 0.262376
Improvement of federal infrastructure            0.103960
Performing leaders or representatives            0.079208
Name: 6. [IF YES TO Q5] What is the current Federal Governments most positive legacy?, dtype: float64


Poor leaders or representatives                0.357143
Failure to create economic opportunities       0.219780
Worsening of racial and religious situation    0.192308
Failure to reduce corruption                   0.159341
Neglect of federal infrastructure              0.071429
Name: 7. [IF NO TO Q5] What is the current Federal Governments most negative legacy?, dtype: float64


Yes       0.380
No        0.378
Unsure    0.242
Name: 8. Are you satisfied with the performance of the Prime Minister?, dtype: float64


About the same      0.400
Unity government    0.354
PN-BN government    0.246
Name: 9. Between the current unity government and the previous PN-BN government, which are you more satisfied with?, dtype: float64


Unsure    1.0
Name: 11. Are you satisfied with the current State Governments performance?, dtype: float64


Series([], Name: 12. [IF YES TO Q11] What is the current state government's most positive legacy?, dtype: float64)


Series([], Name: 13. [IF NO TO Q11] What is the current state governments most negative legacy?, dtype: float64)


PN-BN             0.746518
Unity Gov.        0.144847
About the same    0.108635
Name: 14. Do you plan to vote in the upcoming state elections?, dtype: float64


PN    0.56993
PH    0.43007
Name: 16. From the following options, who are you most likely to vote for? [PN v. PH], dtype: float64


PN    0.604895
BN    0.395105
Name: 17. From the following options, who are you most likely to vote for? [PN v. BN], dtype: float64


PN    0.482517
PH    0.370629
BN    0.146853
Name: 18. From the following options, who are you most likely to vote for? [3 WAY], dtype: float64


MELAYU                   0.873976
CINA                     0.072961
INDIA                    0.041748
NON-MUSLIM BUMIPUTERA    0.006243
LAIN-LAIN                0.003121
MUSLIM BUMIPUTERA        0.001951
Name: ethgroup, dtype: float64


35-44    0.302380
45-54    0.226297
25-34    0.205228
55-64    0.141631
65+      0.124464
Name: agegroup, dtype: float64


L     0.688256
P     0.311744
Name: gender, dtype: float64


SEMI-URBAN    0.420991
URBAN         0.403043
RURAL         0.175966
Name: urbanity, dtype: float64


Kelantan           0.142411
Selangor           0.128365
Kedah              0.120172
Johor              0.110808
Pulau Pinang       0.083496
Terengganu         0.078034
Melaka             0.071791
Perak              0.067499
Pahang             0.063597
Kuala Lumpur       0.042918
Negeri Sembilan    0.029653
Perlis             0.021849
Sabah              0.017948
Sarawak            0.014436
Lain-lain          0.007023
Name: State, dtype: float64


 K1    0.284042
 K3    0.275458
 K2    0.225517
 K4    0.182599
 K5    0.032384
Name: Region, dtype: float64


SET 3    0.211861
SET 4    0.195084
SET 1    0.172064
SET 6    0.140070
SET 2    0.114709
SET 7    0.111588
SET 5    0.054623
Name: Set, dtype: float64

In [ ]:
set1_matched = ivr_matched.loc[ivr_matched['Set'] == 'SET 1']

set2_matched = ivr_matched.loc[ivr_matched['Set'] == 'SET 2']

set3_matched = ivr_matched.loc[ivr_matched['Set'] == 'SET 3']

set4_matched = ivr_matched.loc[ivr_matched['Set'] == 'SET 4']

set5_matched = ivr_matched.loc[ivr_matched['Set'] == 'SET 5']

set6_matched = ivr_matched.loc[ivr_matched['Set'] == 'SET 6']

set7_matched = ivr_matched.loc[ivr_matched['Set'] == 'SET 7']

set8_matched = ivr_matched.loc[ivr_matched['Set'] == 'SET 8']

## Standardize IVR responses

In [ ]:
# ivr_matched = pd.read_excel('ivr_april_pkr2023_all_sets_cleaned_v{}.xlsx'.format(formatted_date.replace('/', '')))

In [ ]:
# Reassign values in Region column to match with Live results
clust_region = {' K1': 'Northeast',
                ' K2': 'Northwest',
                ' K3': 'Central',
                ' K4': 'South',
                ' K5': 'East'}

ivr_matched['Region'].replace(clust_region, inplace=True)

# Reassign gender values
gender_reassign = {'L ': 'Male',
                   'P ': 'Female'}

ivr_matched['gender'].replace(gender_reassign, inplace=True)

# Reassign ethgroup values. BUMIPUTERA has to be reassign with original value (Muslim/Non-muslim)
ethnic_reassign = {'MELAYU': 'Malay',
                   'CINA': 'Chinese',
                   'INDIA': 'Indian',
                   'MUSLIM BUMIPUTERA': 'Muslim Bumiputera',
                   'NON-MUSLIM BUMIPUTERA': 'Non-Muslim Bumiputera',
                   'LAIN-LAIN': 'Others'}

ivr_matched['ethgroup'].replace(ethnic_reassign, inplace=True)

# Reassign urbanity values
urban_reassign = {'RURAL': 'Rural',
                  'URBAN': 'Urban',
                  'SEMI-URBAN': 'Urban'}

ivr_matched['urbanity'].replace(urban_reassign, inplace=True)

In [ ]:
ivr_matched.head(3)

,phonenum,1. Which of the following issues is most important to you?,2. Are you satisfied with the current economic situation?,4a. Anwar Ibrahim,4b. Muhyiddin Yassin,4c. Zahid Hamidi,4d. Hadi Awang,4e. Fadhilah Yusof,4f. Rafizi Ramli,4g. Anthony Loke,...,"16. From the following options, who are you most likely to vote for? [PN v. PH]","17. From the following options, who are you most likely to vote for? [PN v. BN]","18. From the following options, who are you most likely to vote for? [3 WAY]",ethgroup,agegroup,gender,urbanity,State,Region,Set
0,60134251483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,PN,BN,PN,Malay,65+,Male,Rural,Kedah,Northwest,SET 7
1,60124336417,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Malay,65+,Female,Urban,Pulau Pinang,Northwest,SET 3
2,60195064437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Malay,65+,Male,Urban,Kuala Lumpur,Central,SET 3

# Live

## Import Live survey results from Google Sheet

In [49]:
import numpy as np
import pandas as pd

from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)

# import response data from 'Clean CR' tab from the following google sheet
worksheet1 = gc.open_by_url('https://docs.google.com/spreadsheets/d/14g0JThrna1gvGTeK52ViTuIcn1K1q2aH1o2p03TreY0/edit?resourcekey#gid=763602281').worksheet('Clean CR')

# get_all_values gives a list of rows
raw = worksheet1.get_all_values()

# Convert to a DataFrame and render
raw = pd.DataFrame(raw[1:], columns = raw[0])

In [64]:
# Replace blank cells as np.nan, else they won't be recognized as null values
live = raw.replace([''], [np.nan])

live.head(3)

,Phone Number (Copy from ARIA),What state is your registered address?,Call Status (1),1. Which of the following issues is most important to you?,2. Are you satisfied with the current economic situation?,"3. Where do you get most of your updates about current issues from?\nTIDAK PERLU BACAKAN PILIHAN JAWAPAN, TANDAKAN MENGIKUT JAWAPAN RESPONDEN","4. I will list several government and opposition politicians. Please state whether you feel VERY POSITIVE, POSITIVE, NEUTRAL, NEGATIVE, or VERY NEGATIVE about these leaders. [Anwar Ibrahim]","4. I will list several government and opposition politicians. Please state whether you feel VERY POSITIVE, POSITIVE, NEUTRAL, NEGATIVE, or VERY NEGATIVE about these leaders. [Muhyiddin Yassin]","4. I will list several government and opposition politicians. Please state whether you feel VERY POSITIVE, POSITIVE, NEUTRAL, NEGATIVE, or VERY NEGATIVE about these leaders. [Zahid Hamidi]","4. I will list several government and opposition politicians. Please state whether you feel VERY POSITIVE, POSITIVE, NEUTRAL, NEGATIVE, or VERY NEGATIVE about these leaders. [Hadi Awang]",...,15. What are the two most important factors when choosing which party to vote for in the state elections,"16. Daripada pilihan berikut, siapa yang mungkin anda undi? From the following options, who are you most likely to vote for? [PN v. PH]","17. Daripada pilihan berikut, siapa yang mungkin anda undi? From the following options, who are you most likely to vote for? [PN v. BN]","18. From the following options, who are you most likely to vote for? [3 WAY]",19. What is your age?,20. Ethnicity,21. Gender,22. What is your highest level of education?,Did you lived in...,Call Status (2)
0,60194765373,TERENGGANU,NaN,Cost of living and job opportunities,No,"FACEBOOK, YOUTUBE",NEGATIVE,POSITIVE,NEUTRAL,POSITIVE,...,Partys ability to increase economic opportuni...,PN,PN,PN,45-54,Melayu,Male,Secondary school,Urban,Call Success
1,60132559239,NEGERI SEMBILAN,NaN,Cost of living and job opportunities,No,ONLINE NEWS,VERY NEGATIVE,POSITIVE,NEGATIVE,POSITIVE,...,Partys ability to safeguard my ethno-religiou...,OTHERS,OTHERS,UNSURE,25-34,Melayu,Male,Post-secondary,Urban,Call Success
2,60125578462,PERAK,NaN,Cost of living and job opportunities,No,TIKTOK,VERY NEGATIVE,POSITIVE,VERY NEGATIVE,POSITIVE,...,Partys ability to increase economic opportuni...,PN,PN,PN,45-54,Melayu,Female,Secondary school,Urban,Call Success

## Drop irrelevant columns

In [65]:
live.drop(['Call Status (1)', 'Call Status (2)'], axis='columns', inplace=True)

## Drop incomplete & invalid responses

In [66]:
# For columns without skip logic, we check for incomplete columns
print(f'Before dropping: {len(live)} rows')

live[set(live.columns) - set(["12. [IF YES TO Q11] What is the current state government's most positive legacy?",
                              "13.[IF NO TO Q11] What is the current state governments most negative legacy?",
                              '6. [IF YES TO Q5] What is the current Federal Governments most positive legacy?',
                              '7.[IF NO TO Q5] What is the current Federal Governments most negative legacy?',])]\
                              .dropna(axis='index', inplace=True)

print(f'After dropping: {len(live)} rows')

Before dropping: 625 rows
After dropping: 625 rows

In [67]:
# Manual inspection shows several entries in q6. & q7. violate skip logic. We'll manually remove this. 

# If q5. == 'Yes', then q7. ought to be empty
live.loc[live['5. Are you satisfied with the performance of the current government?'] == 'Yes',
              "7.[IF NO TO Q5] What is the current Federal Governments most negative legacy?"] = live.loc[live['5. Are you satisfied with the performance of the current government?'] == 'Yes',
              "7.[IF NO TO Q5] What is the current Federal Governments most negative legacy?"].replace("", inplace=True)

# If q5. == 'No', then q6. ought to be empty
live.loc[live['5. Are you satisfied with the performance of the current government?'] == 'No',
              "6. [IF YES TO Q5] What is the current Federal Governments most positive legacy?"] = live.loc[live['5. Are you satisfied with the performance of the current government?'] == 'No',
              "6. [IF YES TO Q5] What is the current Federal Governments most positive legacy?"].replace("", inplace=True)

# If q5. == 'Unsure', then q6. & q7. ought to be empty
live.loc[live['5. Are you satisfied with the performance of the current government?'] == 'UNSURE',
              ["6. [IF YES TO Q5] What is the current Federal Governments most positive legacy?",
               "7.[IF NO TO Q5] What is the current Federal Governments most negative legacy?"]] = live.loc[live['5. Are you satisfied with the performance of the current government?'] == 'Unsure',
              ["6. [IF YES TO Q5] What is the current Federal Governments most positive legacy?",
               "7.[IF NO TO Q5] What is the current Federal Governments most negative legacy?"]].replace("", inplace=True)

In [68]:
# Just in case any entries violate skip logic. We'll manually remove this. 

# If q11. == 'Yes', then q13. ought to be empty
live.loc[live["11. Are you satisfied with the current State Governments performance?"] == 'Yes',
              "13.[IF NO TO Q11] What is the current state governments most negative legacy?"] = live.loc[live["11. Are you satisfied with the current State Governments performance?"] == 'Yes',
              "13.[IF NO TO Q11] What is the current state governments most negative legacy?"].replace("", inplace=True)

# If q11. == 'No', then q12. ought to be empty
live.loc[live["11. Are you satisfied with the current State Governments performance?"] == 'No',
              "12. [IF YES TO Q11] What is the current state government's most positive legacy?"] = live.loc[live["11. Are you satisfied with the current State Governments performance?"] == 'No',
              "12. [IF YES TO Q11] What is the current state government's most positive legacy?"].replace("", inplace=True)

# If q11. == 'Unsure', then q12. & q13. ought to be empty
live.loc[live["11. Are you satisfied with the current State Governments performance?"] == 'UNSURE',
              ["13.[IF NO TO Q11] What is the current state governments most negative legacy?",
              "12. [IF YES TO Q11] What is the current state government's most positive legacy?"]] = live.loc[live["11. Are you satisfied with the current State Governments performance?"] == 'Unsure',
              ["13.[IF NO TO Q11] What is the current state governments most negative legacy?",
              "12. [IF YES TO Q11] What is the current state government's most positive legacy?"]].replace("", inplace=True)

In [69]:
# Check for completeness for q6. and q7.
live = live[((live["5. Are you satisfied with the performance of the current government?"] == 'Yes') & \
             (~live["6. [IF YES TO Q5] What is the current Federal Governments most positive legacy?"].isnull())) | \
              ((live["5. Are you satisfied with the performance of the current government?"] == 'No') & \
             (~live["7.[IF NO TO Q5] What is the current Federal Governments most negative legacy?"].isnull())) | \
              (live["5. Are you satisfied with the performance of the current government?"] == 'UNSURE')]

# Check for completeness for q12. and q13.
live = live[((live["11. Are you satisfied with the current State Governments performance?"] == 'Yes') & \
             (~live["12. [IF YES TO Q11] What is the current state government's most positive legacy?"].isnull())) | \
              ((live["11. Are you satisfied with the current State Governments performance?"] == 'No') & \
             (~live["13.[IF NO TO Q11] What is the current state governments most negative legacy?"].isnull())) | \
              (live["11. Are you satisfied with the current State Governments performance?"] == 'UNSURE')]

print(f'After removing invalid entries and completeness checks: {len(live)} rows')

After removing invalid entries and completeness checks: 624 rows

## Rename & reorder columns

In [77]:
rename_col = ['phonenum', 
              'State',
              '1. Which of the following issues is most important to you?',
              '2. Are you satisfied with the current economic situation?',
              '3. Where do you get most of your updates about current issues from?',
              '4a. Anwar Ibrahim',
              '4b. Muhyiddin Yassin',
              '4c. Zahid Hamidi',
              '4d. Hadi Awang',
              '4e. Fadhilah Yusof',
              '4f. Rafizi Ramli',
              '4g. Anthony Loke',
              '4h. Mohamad Hasan',
              '4i. Mohamad Sabu',
              '4j. Saifuddin Nasution Ismail',
              '5. Are you satisfied with the performance of the current government?',
              "6. [IF YES TO Q5] What is the current Federal Governments most positive legacy?",
              "7. [IF NO TO Q5] What is the current Federal Governments most negative legacy?",
              '8. Are you satisfied with the performance of the Prime Minister?',
              '9. Between the current unity government and the previous PN-BN government, which are you more satisfied with?',
              "10. If you are willing to answer, which party did you vote for in GE15?",
              "11. Are you satisfied with the current State Governments performance?",
              "12. [IF YES TO Q11] What is the current state government's most positive legacy?",
              "13. [IF NO TO Q11] What is the current state governments most negative legacy?",
              '14. Do you plan to vote in the upcoming state elections?',
              "15. What are the two most important factors when choosing which party to vote for in the state elections?",
              '16. From the following options, who are you most likely to vote for? [PN v. PH]',
              '17. From the following options, who are you most likely to vote for? [PN v. BN]',
              '18. From the following options, who are you most likely to vote for? [3 WAY]',
              'agegroup', 'ethgroup', 'gender', 'edulevel', 'urbanity']

reorder_col = ['phonenum', 
              'State',
              '1. Which of the following issues is most important to you?',
              '2. Are you satisfied with the current economic situation?',
              '3. Where do you get most of your updates about current issues from?',
              '4a. Anwar Ibrahim',
              '4b. Muhyiddin Yassin',
              '4c. Zahid Hamidi',
              '4d. Hadi Awang',
              '4e. Fadhilah Yusof',
              '4f. Rafizi Ramli',
              '4g. Anthony Loke',
              '4h. Mohamad Hasan',
              '4i. Mohamad Sabu',
              '4j. Saifuddin Nasution Ismail',
              '5. Are you satisfied with the performance of the current government?',
              "6. [IF YES TO Q5] What is the current Federal Governments most positive legacy?",
              "7. [IF NO TO Q5] What is the current Federal Governments most negative legacy?",
              '8. Are you satisfied with the performance of the Prime Minister?',
              '9. Between the current unity government and the previous PN-BN government, which are you more satisfied with?',
              "10. If you are willing to answer, which party did you vote for in GE15?",
              "11. Are you satisfied with the current State Governments performance?",
              "12. [IF YES TO Q11] What is the current state government's most positive legacy?",
              "13. [IF NO TO Q11] What is the current state governments most negative legacy?",
              '14. Do you plan to vote in the upcoming state elections?',
              "15. What are the two most important factors when choosing which party to vote for in the state elections?",
              '16. From the following options, who are you most likely to vote for? [PN v. PH]',
              '17. From the following options, who are you most likely to vote for? [PN v. BN]',
              '18. From the following options, who are you most likely to vote for? [3 WAY]',
              'agegroup', 'ethgroup', 'gender', 'edulevel', 'urbanity']

In [78]:
# Rename columns
live.columns = rename_col

# Reorder columns ('State' goes last)
live = live[reorder_col]

In [79]:
# Check if all changes has been reflected
for col in live.columns:
  print(live[col].value_counts(normalize=True))
  print("\n")

60163069710     0.003205
60176612281     0.003205
60169861771     0.003205
601129504192    0.003205
60175172741     0.003205
                  ...
60175152436     0.001603
60164236373     0.001603
60174356312     0.001603
60127117841     0.001603
60197926994     0.001603
Name: phonenum, Length: 609, dtype: float64


SELANGOR           0.246795
JOHOR              0.152244
NEGERI SEMBILAN    0.091346
PERAK              0.086538
KUALA LUMPUR       0.065705
KEDAH              0.064103
KELANTAN           0.059295
TERENGGANU         0.051282
SABAH              0.049679
PAHANG             0.048077
MELAKA             0.030449
PULAU PINANG       0.027244
SARAWAK            0.017628
PERLIS             0.008013
LABUAN             0.001603
Name: State, dtype: float64


Cost of living and job opportunities    0.498397
Strength of national economy            0.189103
Corruption                              0.113782
Political stability                     0.102564
Quality of national education           0.083333
Others                                  0.012821
Name: 1. Which of the following issues is most important to you?, dtype: float64


No        0.677885
Yes       0.282051
UNSURE    0.040064
Name: 2. Are you satisfied with the current economic situation?, dtype: float64


ONLINE NEWS                                                  0.150883
FACEBOOK                                                     0.118780
TV                                                           0.107544
FACEBOOK, TV                                                 0.056180
ONLINE NEWS, TV                                              0.049759
                                                               ...
PHYSICAL NEWSPAPER, WHATSAPP OR TELEGRAM GROUPS              0.001605
ONLINE NEWS, PHYSICAL NEWSPAPER, TV                          0.001605
FACEBOOK, TIKTOK, WHATSAPP OR TELEGRAM GROUPS                0.001605
FACEBOOK, INSTAGRAM, RADIO, TIKTOK, TWITTER                  0.001605
ONLINE NEWS, TIKTOK, TWITTER, WHATSAPP OR TELEGRAM GROUPS    0.001605
Name: 3. Where do you get most of your updates about current issues from?, Length: 78, dtype: float64


POSITIVE         0.439103
NEUTRAL          0.302885
NEGATIVE         0.147436
VERY POSITIVE    0.073718
VERY NEGATIVE    0.036859
Name: 4a. Anwar Ibrahim, dtype: float64


NEUTRAL          0.363782
POSITIVE         0.322115
NEGATIVE         0.241987
VERY POSITIVE    0.036859
VERY NEGATIVE    0.035256
Name: 4b. Muhyiddin Yassin, dtype: float64


NEGATIVE         0.413462
NEUTRAL          0.323718
POSITIVE         0.134615
VERY NEGATIVE    0.121795
VERY POSITIVE    0.006410
Name: 4c. Zahid Hamidi, dtype: float64


NEUTRAL          0.410256
NEGATIVE         0.253205
POSITIVE         0.237179
VERY NEGATIVE    0.067308
VERY POSITIVE    0.032051
Name: 4d. Hadi Awang, dtype: float64


NEUTRAL          0.612179
POSITIVE         0.250000
NEGATIVE         0.108974
VERY POSITIVE    0.019231
VERY NEGATIVE    0.009615
Name: 4e. Fadhilah Yusof, dtype: float64


NEUTRAL          0.416667
POSITIVE         0.282051
NEGATIVE         0.227564
VERY NEGATIVE    0.048077
VERY POSITIVE    0.025641
Name: 4f. Rafizi Ramli, dtype: float64


POSITIVE         0.383013
NEUTRAL          0.363782
NEGATIVE         0.166667
VERY POSITIVE    0.054487
VERY NEGATIVE    0.032051
Name: 4g. Anthony Loke, dtype: float64


NEUTRAL          0.494382
POSITIVE         0.319422
NEGATIVE         0.152488
VERY NEGATIVE    0.017657
VERY POSITIVE    0.016051
Name: 4h. Mohamad Hasan, dtype: float64


NEUTRAL          0.418269
NEGATIVE         0.310897
POSITIVE         0.211538
VERY NEGATIVE    0.044872
VERY POSITIVE    0.014423
Name: 4i. Mohamad Sabu, dtype: float64


NEUTRAL          0.538462
POSITIVE         0.235577
NEGATIVE         0.184295
VERY NEGATIVE    0.028846
VERY POSITIVE    0.012821
Name: 4j. Saifuddin Nasution Ismail, dtype: float64


Yes       0.508013
No        0.434295
UNSURE    0.057692
Name: 5. Are you satisfied with the performance of the current government?, dtype: float64


Increased economic opportunities                 0.271293
Performing leaders or representatives            0.233438
Successfully reducing corruption                 0.211356
Improvement of racial and religious situation    0.141956
Improvement of federal infrastructure            0.107256
Others                                           0.034700
Name: 6. [IF YES TO Q5] What is the current Federal Governments most positive legacy?, dtype: float64


Failure to create economic opportunities       0.365314
Poor leaders or representatives                0.343173
Worsening of racial and religious situation    0.125461
Failure to reduce corruption                   0.103321
Others                                         0.044280
Neglect of federal infrastructure              0.018450
Name: 7. [IF NO TO Q5] What is the current Federal Governments most negative legacy?, dtype: float64


Yes       0.562500
No        0.355769
UNSURE    0.081731
Name: 8. Are you satisfied with the performance of the Prime Minister?, dtype: float64


About the same      0.423077
Unity government    0.317308
PN-BN government    0.259615
Name: 9. Between the current unity government and the previous PN-BN government, which are you more satisfied with?, dtype: float64


REFUSE TO ANSWER    0.370192
PH                  0.259615
PN                  0.179487
BN                  0.123397
 OTHERS             0.067308
Name: 10. If you are willing to answer, which party did you vote for in GE15?, dtype: float64


Yes       0.636218
No        0.309295
UNSURE    0.054487
Name: 11. Are you satisfied with the current State Governments performance?, dtype: float64


Performing leaders or representatives                 0.304786
Increased economic opportunities                      0.216625
Improvement of local infrastructure                   0.211587
Empowerment of Islam and Malay-Muslim institutions    0.130982
Success at addressing floods and other crises         0.085642
UNSURE                                                0.050378
Name: 12. [IF YES TO Q11] What is the current state government's most positive legacy?, dtype: float64


Poor leaders or representatives                       0.383420
Failure to create economic opportunities              0.300518
Neglect of local infrastructure                       0.129534
Neglect of Islam and Malay-Muslim institutionson 1    0.077720
Failure to prepare for floods and other crises        0.051813
Neglect of Islam and Malay-Muslim institution         0.025907
No negative legacy                                    0.020725
UNSURE                                                0.010363
Name: 13. [IF NO TO Q11] What is the current state governments most negative legacy?, dtype: float64


Yes       0.932692
No        0.038462
UNSURE    0.028846
Name: 14. Do you plan to vote in the upcoming state elections?, dtype: float64


Partys ability to increase economic opportunities in the state, Partys ability to form a stable government                  0.262821
Partys ability to increase economic opportunities in the state, Partys ability to safeguard my ethno-religious interests    0.166667
Partys ability to increase economic opportunities in the state, Partys ability to tackle corruption                         0.115385
Partys ability to safeguard my ethno-religious interests, Partys ability to form a stable government                        0.092949
Partys ability to tackle corruption, Partys ability to form a stable government                                             0.065705
Partys ability to increase economic opportunities in the state, Party is part of Federal Government                          0.049679
Partys ability to form a stable government, Party is part of Federal Government                                              0.046474
Partys ability to increase economic opportunities in the state, Partys choice of Menteri Besar or Chief Minister            0.043269
Partys ability to safeguard my ethno-religious interests, Partys ability to tackle corruption                               0.040064
Partys ability to form a stable government, Partys choice of Menteri Besar or Chief Minister                                0.032051
Partys ability to safeguard my ethno-religious interests, Party is part of Federal Government                                0.017628
Partys choice of Menteri Besar or Chief Minister, Party is part of Federal Government                                        0.012821
Partys ability to increase economic opportunities in the state                                                               0.011218
Partys ability to tackle corruption, Party is part of Federal Government                                                     0.009615
Partys ability to form a stable government                                                                                   0.009615
Partys ability to tackle corruption, Partys choice of Menteri Besar or Chief Minister                                       0.008013
Partys ability to safeguard my ethno-religious interests, Partys choice of Menteri Besar or Chief Minister                  0.008013
Partys ability to tackle corruption                                                                                          0.003205
Partys ability to safeguard my ethno-religious interests                                                                     0.003205
Partys choice of Menteri Besar or Chief Minister                                                                             0.001603
Name: 15. What are the two most important factors when choosing which party to vote for in the state elections?, dtype: float64


PH         0.370192
PN         0.312500
UNSURE     0.269231
 OTHERS    0.048077
Name: 16. From the following options, who are you most likely to vote for? [PN v. PH], dtype: float64


PN         0.375000
BN         0.320513
UNSURE     0.241987
 OTHERS    0.062500
Name: 17. From the following options, who are you most likely to vote for? [PN v. BN], dtype: float64


PH         0.352564
PN         0.264423
UNSURE     0.232372
BN         0.123397
 OTHERS    0.027244
Name: 18. From the following options, who are you most likely to vote for? [3 WAY], dtype: float64


25-34           0.275641
35-44           0.201923
18-24           0.171474
45-54           0.163462
55-64           0.105769
65 and above    0.081731
Name: agegroup, dtype: float64


Melayu                                 0.764423
Cina                                   0.097756
India                                  0.080128
Muslim Bumiputera Sabah-Sarawak        0.033654
Non-Muslim Bumiputera Sabah-Sarawak    0.016026
Others                                 0.008013
Name: ethgroup, dtype: float64


Male      0.636218
Female    0.363782
Name: gender, dtype: float64


Post-secondary            0.649038
Secondary school          0.310897
Primary school or none    0.040064
Name: edulevel, dtype: float64


Urban    0.733974
Rural    0.266026
Name: urbanity, dtype: float64

## Standardize responses

In [80]:
dynamo = {
    'Neglect of Islam and Malay-Muslim institution': 'Neglect of Islam and Malay-Muslim institutions',
    'Neglect of Islam and Malay-Muslim institutionson 1': 'Neglect of Islam and Malay-Muslim institutions',
    'Others         [JANGAN BACA // DON\'T READ]': 'Others',
    'OTHERS': 'Others',
    ' OTHERS': 'Others',
    'Other':'Others',
    'NO': 'No',
    'YES': 'Yes',
    'VERY POSITIVE': '5) Very positive',
    'POSITIVE': '4) Positive',
    'NEUTRAL': '3) Neutral',
    'NEGATIVE': '2) Negative',
    'VERY NEGATIVE': '1) Very negative',
    'NOT RECOGNIZE': '6) Not recognize',
    'UNSURE          [JANGAN BACA // DON\'T READ]': 'Unsure',
    'REFUSE TO ANSWER': 'Refused to answer',
    'UNSURE': 'Unsure',
    'Unity governement': 'Unity Gov.',
    'PN-BN government': 'PN-BN',
    "Refuse to answer           [JANGAN BACA // DON'T READ]": 'Refused to answer',
    'TIDAK MENGUNDI': 'Didn\'t vote',
    'Unsure        [JANGAN BACA // DON\'T READ]': 'Unsure',
    '65 and above': '65+',
    'Luar Bandar': 'Rural',
    'Melayu': 'Malay',
    'India': 'Indian',
    'Cina': 'Chinese',
    'Non-Muslim Bumiputera Sabah-Sarawak': 'Non-Muslim Bumiputera',
    'Muslim Bumiputera Sabah-Sarawak': 'Muslim Bumiputera' 
}

In [81]:
# Function to apply .title() to a string
def title_case(string):
    return string.title()

# Apply .title() to the 'Name' column
live['State'] = live['State'].apply(lambda x: title_case(x))

In [83]:
# Clean responses
live = live.replace(dynamo)

In [84]:
# Check if all changes has been reflected
for col in live.columns:
  print(live[col].value_counts(normalize=True))
  print("\n")

60163069710     0.003205
60176612281     0.003205
60169861771     0.003205
601129504192    0.003205
60175172741     0.003205
                  ...
60175152436     0.001603
60164236373     0.001603
60174356312     0.001603
60127117841     0.001603
60197926994     0.001603
Name: phonenum, Length: 609, dtype: float64


Selangor           0.246795
Johor              0.152244
Negeri Sembilan    0.091346
Perak              0.086538
Kuala Lumpur       0.065705
Kedah              0.064103
Kelantan           0.059295
Terengganu         0.051282
Sabah              0.049679
Pahang             0.048077
Melaka             0.030449
Pulau Pinang       0.027244
Sarawak            0.017628
Perlis             0.008013
Labuan             0.001603
Name: State, dtype: float64


Cost of living and job opportunities    0.498397
Strength of national economy            0.189103
Corruption                              0.113782
Political stability                     0.102564
Quality of national education           0.083333
Others                                  0.012821
Name: 1. Which of the following issues is most important to you?, dtype: float64


No        0.677885
Yes       0.282051
Unsure    0.040064
Name: 2. Are you satisfied with the current economic situation?, dtype: float64


ONLINE NEWS                                                  0.150883
FACEBOOK                                                     0.118780
TV                                                           0.107544
FACEBOOK, TV                                                 0.056180
ONLINE NEWS, TV                                              0.049759
                                                               ...
PHYSICAL NEWSPAPER, WHATSAPP OR TELEGRAM GROUPS              0.001605
ONLINE NEWS, PHYSICAL NEWSPAPER, TV                          0.001605
FACEBOOK, TIKTOK, WHATSAPP OR TELEGRAM GROUPS                0.001605
FACEBOOK, INSTAGRAM, RADIO, TIKTOK, TWITTER                  0.001605
ONLINE NEWS, TIKTOK, TWITTER, WHATSAPP OR TELEGRAM GROUPS    0.001605
Name: 3. Where do you get most of your updates about current issues from?, Length: 78, dtype: float64


4) Positive         0.439103
3) Neutral          0.302885
2) Negative         0.147436
5) Very positive    0.073718
1) Very negative    0.036859
Name: 4a. Anwar Ibrahim, dtype: float64


3) Neutral          0.363782
4) Positive         0.322115
2) Negative         0.241987
5) Very positive    0.036859
1) Very negative    0.035256
Name: 4b. Muhyiddin Yassin, dtype: float64


2) Negative         0.413462
3) Neutral          0.323718
4) Positive         0.134615
1) Very negative    0.121795
5) Very positive    0.006410
Name: 4c. Zahid Hamidi, dtype: float64


3) Neutral          0.410256
2) Negative         0.253205
4) Positive         0.237179
1) Very negative    0.067308
5) Very positive    0.032051
Name: 4d. Hadi Awang, dtype: float64


3) Neutral          0.612179
4) Positive         0.250000
2) Negative         0.108974
5) Very positive    0.019231
1) Very negative    0.009615
Name: 4e. Fadhilah Yusof, dtype: float64


3) Neutral          0.416667
4) Positive         0.282051
2) Negative         0.227564
1) Very negative    0.048077
5) Very positive    0.025641
Name: 4f. Rafizi Ramli, dtype: float64


4) Positive         0.383013
3) Neutral          0.363782
2) Negative         0.166667
5) Very positive    0.054487
1) Very negative    0.032051
Name: 4g. Anthony Loke, dtype: float64


3) Neutral          0.494382
4) Positive         0.319422
2) Negative         0.152488
1) Very negative    0.017657
5) Very positive    0.016051
Name: 4h. Mohamad Hasan, dtype: float64


3) Neutral          0.418269
2) Negative         0.310897
4) Positive         0.211538
1) Very negative    0.044872
5) Very positive    0.014423
Name: 4i. Mohamad Sabu, dtype: float64


3) Neutral          0.538462
4) Positive         0.235577
2) Negative         0.184295
1) Very negative    0.028846
5) Very positive    0.012821
Name: 4j. Saifuddin Nasution Ismail, dtype: float64


Yes       0.508013
No        0.434295
Unsure    0.057692
Name: 5. Are you satisfied with the performance of the current government?, dtype: float64


Increased economic opportunities                 0.271293
Performing leaders or representatives            0.233438
Successfully reducing corruption                 0.211356
Improvement of racial and religious situation    0.141956
Improvement of federal infrastructure            0.107256
Others                                           0.034700
Name: 6. [IF YES TO Q5] What is the current Federal Governments most positive legacy?, dtype: float64


Failure to create economic opportunities       0.365314
Poor leaders or representatives                0.343173
Worsening of racial and religious situation    0.125461
Failure to reduce corruption                   0.103321
Others                                         0.044280
Neglect of federal infrastructure              0.018450
Name: 7. [IF NO TO Q5] What is the current Federal Governments most negative legacy?, dtype: float64


Yes       0.562500
No        0.355769
Unsure    0.081731
Name: 8. Are you satisfied with the performance of the Prime Minister?, dtype: float64


About the same      0.423077
Unity government    0.317308
PN-BN               0.259615
Name: 9. Between the current unity government and the previous PN-BN government, which are you more satisfied with?, dtype: float64


Refused to answer    0.370192
PH                   0.259615
PN                   0.179487
BN                   0.123397
Others               0.067308
Name: 10. If you are willing to answer, which party did you vote for in GE15?, dtype: float64


Yes       0.636218
No        0.309295
Unsure    0.054487
Name: 11. Are you satisfied with the current State Governments performance?, dtype: float64


Performing leaders or representatives                 0.304786
Increased economic opportunities                      0.216625
Improvement of local infrastructure                   0.211587
Empowerment of Islam and Malay-Muslim institutions    0.130982
Success at addressing floods and other crises         0.085642
Unsure                                                0.050378
Name: 12. [IF YES TO Q11] What is the current state government's most positive legacy?, dtype: float64


Poor leaders or representatives                   0.383420
Failure to create economic opportunities          0.300518
Neglect of local infrastructure                   0.129534
Neglect of Islam and Malay-Muslim institutions    0.103627
Failure to prepare for floods and other crises    0.051813
No negative legacy                                0.020725
Unsure                                            0.010363
Name: 13. [IF NO TO Q11] What is the current state governments most negative legacy?, dtype: float64


Yes       0.932692
No        0.038462
Unsure    0.028846
Name: 14. Do you plan to vote in the upcoming state elections?, dtype: float64


Partys ability to increase economic opportunities in the state, Partys ability to form a stable government                  0.262821
Partys ability to increase economic opportunities in the state, Partys ability to safeguard my ethno-religious interests    0.166667
Partys ability to increase economic opportunities in the state, Partys ability to tackle corruption                         0.115385
Partys ability to safeguard my ethno-religious interests, Partys ability to form a stable government                        0.092949
Partys ability to tackle corruption, Partys ability to form a stable government                                             0.065705
Partys ability to increase economic opportunities in the state, Party is part of Federal Government                          0.049679
Partys ability to form a stable government, Party is part of Federal Government                                              0.046474
Partys ability to increase economic opportunities in the state, Partys choice of Menteri Besar or Chief Minister            0.043269
Partys ability to safeguard my ethno-religious interests, Partys ability to tackle corruption                               0.040064
Partys ability to form a stable government, Partys choice of Menteri Besar or Chief Minister                                0.032051
Partys ability to safeguard my ethno-religious interests, Party is part of Federal Government                                0.017628
Partys choice of Menteri Besar or Chief Minister, Party is part of Federal Government                                        0.012821
Partys ability to increase economic opportunities in the state                                                               0.011218
Partys ability to tackle corruption, Party is part of Federal Government                                                     0.009615
Partys ability to form a stable government                                                                                   0.009615
Partys ability to tackle corruption, Partys choice of Menteri Besar or Chief Minister                                       0.008013
Partys ability to safeguard my ethno-religious interests, Partys choice of Menteri Besar or Chief Minister                  0.008013
Partys ability to tackle corruption                                                                                          0.003205
Partys ability to safeguard my ethno-religious interests                                                                     0.003205
Partys choice of Menteri Besar or Chief Minister                                                                             0.001603
Name: 15. What are the two most important factors when choosing which party to vote for in the state elections?, dtype: float64


PH        0.370192
PN        0.312500
Unsure    0.269231
Others    0.048077
Name: 16. From the following options, who are you most likely to vote for? [PN v. PH], dtype: float64


PN        0.375000
BN        0.320513
Unsure    0.241987
Others    0.062500
Name: 17. From the following options, who are you most likely to vote for? [PN v. BN], dtype: float64


PH        0.352564
PN        0.264423
Unsure    0.232372
BN        0.123397
Others    0.027244
Name: 18. From the following options, who are you most likely to vote for? [3 WAY], dtype: float64


25-34    0.275641
35-44    0.201923
18-24    0.171474
45-54    0.163462
55-64    0.105769
65+      0.081731
Name: agegroup, dtype: float64


Malay                    0.764423
Chinese                  0.097756
Indian                   0.080128
Muslim Bumiputera        0.033654
Non-Muslim Bumiputera    0.016026
Others                   0.008013
Name: ethgroup, dtype: float64


Male      0.636218
Female    0.363782
Name: gender, dtype: float64


Post-secondary            0.649038
Secondary school          0.310897
Primary school or none    0.040064
Name: edulevel, dtype: float64


Urban    0.733974
Rural    0.266026
Name: urbanity, dtype: float64

## Create `Set` column

In [85]:
len(live.columns)

34

In [86]:
live_set = ['Live' for x in range(len(live))]

# Insert `Set` column at the end
# Note: https://www.geeksforgeeks.org/python-pandas-dataframe-insert/
live.insert(len(live.columns), 'Set', live_set)

## Create `Region` column
based on `State` column

In [87]:
# Initialize the Region column
live['Region'] = 'null'

In [88]:
# Set Region that corresponds to State
live.loc[live['State'].isin(['Pahang', 'Terengganu', 'Kelantan']), 'Region'] = 'Northeast'

live.loc[live['State'].isin(['Perlis', 'Kedah', 'Pulau Pinang']), 'Region'] = 'Northwest'

live.loc[live['State'].isin(['Perak', 'Selangor', 'Kuala Lumpur', 'Putrajaya', 'Negeri Sembilan']), 'Region'] = 'Central'

live.loc[live['State'].isin(['Melaka', 'Johor']), 'Region'] = 'South'

live.loc[live['State'].isin(['Sabah', 'Sarawak', 'Labuan']), 'Region'] = 'East'

In [90]:
live.head(3)

,phonenum,State,1. Which of the following issues is most important to you?,2. Are you satisfied with the current economic situation?,3. Where do you get most of your updates about current issues from?,4a. Anwar Ibrahim,4b. Muhyiddin Yassin,4c. Zahid Hamidi,4d. Hadi Awang,4e. Fadhilah Yusof,...,"16. From the following options, who are you most likely to vote for? [PN v. PH]","17. From the following options, who are you most likely to vote for? [PN v. BN]","18. From the following options, who are you most likely to vote for? [3 WAY]",agegroup,ethgroup,gender,edulevel,urbanity,Set,Region
0,60194765373,Terengganu,Cost of living and job opportunities,No,"FACEBOOK, YOUTUBE",2) Negative,4) Positive,3) Neutral,4) Positive,4) Positive,...,PN,PN,PN,45-54,Malay,Male,Secondary school,Urban,Live,Northeast
1,60132559239,Negeri Sembilan,Cost of living and job opportunities,No,ONLINE NEWS,1) Very negative,4) Positive,2) Negative,4) Positive,3) Neutral,...,Others,Others,Unsure,25-34,Malay,Male,Post-secondary,Urban,Live,Central
2,60125578462,Perak,Cost of living and job opportunities,No,TIKTOK,1) Very negative,4) Positive,1) Very negative,4) Positive,3) Neutral,...,PN,PN,PN,45-54,Malay,Female,Secondary school,Urban,Live,Central

In [ ]:
live.to_excel('live_march_pkr2023_cleaned_v2.xlsx', index=False)

# Combine Live & IVR Results
Note: IVR now covers Federal- and State-level question.

In [91]:
live_sub = live[set(live.columns) - set(['edulevel'])]

In [92]:
live_sub.head()

,4j. Saifuddin Nasution Ismail,"17. From the following options, who are you most likely to vote for? [PN v. BN]",4h. Mohamad Hasan,6. [IF YES TO Q5] What is the current Federal Governments most positive legacy?,1. Which of the following issues is most important to you?,2. Are you satisfied with the current economic situation?,4i. Mohamad Sabu,"10. If you are willing to answer, which party did you vote for in GE15?",Set,15. What are the two most important factors when choosing which party to vote for in the state elections?,...,3. Where do you get most of your updates about current issues from?,Region,4a. Anwar Ibrahim,State,agegroup,phonenum,4f. Rafizi Ramli,13. [IF NO TO Q11] What is the current state governments most negative legacy?,8. Are you satisfied with the performance of the Prime Minister?,ethgroup
0,3) Neutral,PN,3) Neutral,None,Cost of living and job opportunities,No,3) Neutral,PN,Live,Partys ability to increase economic opportuni...,...,"FACEBOOK, YOUTUBE",Northeast,2) Negative,Terengganu,45-54,60194765373,3) Neutral,None,No,Malay
1,2) Negative,Others,2) Negative,None,Cost of living and job opportunities,No,3) Neutral,Refused to answer,Live,Partys ability to safeguard my ethno-religiou...,...,ONLINE NEWS,Central,1) Very negative,Negeri Sembilan,25-34,60132559239,2) Negative,None,No,Malay
2,1) Very negative,PN,3) Neutral,None,Cost of living and job opportunities,No,3) Neutral,PN,Live,Partys ability to increase economic opportuni...,...,TIKTOK,Central,1) Very negative,Perak,45-54,60125578462,1) Very negative,Poor leaders or representatives,No,Malay
3,3) Neutral,Others,3) Neutral,Increased economic opportunities,Cost of living and job opportunities,No,4) Positive,PH,Live,"Partys ability to form a stable government, P...",...,TV,Central,5) Very positive,Perak,45-54,60135303364,4) Positive,None,Yes,Indian
4,3) Neutral,PN,3) Neutral,Improvement of federal infrastructure,Cost of living and job opportunities,No,3) Neutral,Refused to answer,Live,Partys ability to increase economic opportuni...,...,FACEBOOK,Northeast,4) Positive,Kelantan,45-54,60199095380,3) Neutral,None,Yes,Malay

In [ ]:
# Combine both Live & IVR results
all_results = live_sub.append(ivr_matched)

In [ ]:
# final sanity check on all columns
for col in all_results.columns:
  print(all_results[col].value_counts(normalize=True))
  print("\n")

60163023804    0.000109
60174125355    0.000109
60135275949    0.000109
60145104948    0.000109
60179262773    0.000109
                 ...
60178525686    0.000109
60195736387    0.000109
60129553143    0.000109
60126555924    0.000109
60134590063    0.000109
Name: phonenum, Length: 9195, dtype: float64


Cost of living and job opportunities    0.607543
Strength of national economy            0.157926
Corruption                              0.097820
Political stability                     0.078963
Quality of national education           0.057749
Name: 1. Which of the following issues is most important to you?, dtype: float64


No        0.613068
Yes       0.377841
Unsure    0.009091
Name: 2. Are you satisfied with your current economic situation?, dtype: float64


1) Very negative    0.360000
3) Neutral          0.223529
5) Very positive    0.176471
2) Negative         0.145882
4) Positive         0.094118
Name: 4a. BERSATU, dtype: float64


1) Very negative    0.294118
5) Very positive    0.215294
3) Neutral          0.184706
2) Negative         0.182353
4) Positive         0.123529
Name: 4b. PAS, dtype: float64


1) Very negative    0.329412
3) Neutral          0.244706
2) Negative         0.177647
5) Very positive    0.145882
4) Positive         0.102353
Name: 4c. UMNO, dtype: float64


1) Very negative    0.318824
5) Very positive    0.241176
3) Neutral          0.170588
4) Positive         0.169412
2) Negative         0.100000
Name: 4d. PH, dtype: float64


1) Very negative    0.344760
5) Very positive    0.300686
3) Neutral          0.173359
2) Negative         0.102840
4) Positive         0.078355
Name: 5a. Anwar Ibrahim, dtype: float64


1) Very negative    0.312439
5) Very positive    0.296768
3) Neutral          0.160627
2) Negative         0.123408
4) Positive         0.106758
Name: 5b. Muhyiddin Yassin, dtype: float64


1) Very negative    0.572968
3) Neutral          0.150833
2) Negative         0.134182
5) Very positive    0.102840
4) Positive         0.039177
Name: 5c. Zahid Hamidi, dtype: float64


1) Very negative    0.348678
5) Very positive    0.272282
3) Neutral          0.176298
4) Positive         0.107738
2) Negative         0.095005
Name: 5d. Hadi Awang, dtype: float64


3) Neutral          0.303030
1) Very negative    0.277576
5) Very positive    0.183030
2) Negative         0.161212
4) Positive         0.075152
Name: 5e. Fadillah Yusof, dtype: float64


1) Very negative    0.438788
5) Very positive    0.179394
3) Neutral          0.170909
2) Negative         0.117576
4) Positive         0.093333
Name: 5f. Rafizi Ramli, dtype: float64


1) Very negative    0.316364
5) Very positive    0.277576
3) Neutral          0.173333
2) Negative         0.133333
4) Positive         0.099394
Name: 5g. Anthony Loke, dtype: float64


1) Very negative    0.280000
3) Neutral          0.265455
2) Negative         0.158788
4) Positive         0.152727
5) Very positive    0.143030
Name: 5h. Mohamad Hasan, dtype: float64


1) Very negative    0.396364
3) Neutral          0.178182
5) Very positive    0.155152
2) Negative         0.139394
4) Positive         0.130909
Name: 5i. Mohamad Sabu, dtype: float64


No     0.562104
Yes    0.437896
Name: 6. Are you satisfied with your current federal government?, dtype: float64


No     0.515843
Yes    0.484157
Name: 7. Are you satisfied with the performance of the current Prime Minister?, dtype: float64


About the same    0.383257
Unity Gov.        0.318740
PN-BN             0.298003
Name: 8. Which government are you satisfied with?, dtype: float64


PH                   0.278034
Refused to answer    0.264977
BN                   0.205837
PN                   0.195084
Others               0.056068
Name: 9. Which party did you vote for in GE15?, dtype: float64


Lower cost of living and increase job opportunities    0.532020
Empower Malay-Muslim institutions                      0.215107
Improve local infrastructure                           0.102627
Reduce corruption                                      0.095238
State-level political stability                        0.055008
Name: 10. Which of the following state-level issues is most important to you?, dtype: float64


No        0.402299
Unsure    0.316913
Yes       0.280788
Name: 11. Are you satisfied with the State Governments performance in addressing this issue? [based on answer to Q10], dtype: float64


No        0.438424
Yes       0.329228
Unsure    0.232348
Name: 12. Are you satisfied with the level of development and economic opportunities in your area?, dtype: float64


No negative legacy                                0.238149
Poor leaders or representatives                   0.222348
Neglect of Islam and Malay-Muslim institutions    0.156885
Neglect of local infrastructure                   0.147856
Failure to create economic opportunities          0.141084
Failure to prepare for floods and other crises    0.093679
Name: 13. What is the most negative legacy of the current State Government?, dtype: float64


Empowerment of Islam and Malay-Muslim institutions    0.274266
No positive legacy                                    0.217833
Increased economic opportunities                      0.191874
Improvement of local infrastructure                   0.158014
Performing leaders or representatives                 0.097065
Success at addressing floods and other crises         0.060948
Name: 14. What is the most positive legacy of the current State Government?, dtype: float64


Yes       0.466205
No        0.339010
Unsure    0.194784
Name: 15. Are you in favor of allowing early EPF withdrawals?, dtype: float64


Yes       0.520536
Unsure    0.272321
No        0.207143
Name: 16. Do you believe that the Menu Rahmah initiative is a good idea?, dtype: float64


Malay                    0.849592
Chinese                  0.086786
Indian                   0.033931
Non-Muslim Bumiputera    0.022512
Muslim Bumiputera        0.004241
Others                   0.002936
Name: ethgroup, dtype: float64


35-44    0.282980
25-34    0.220011
45-54    0.213594
55-64    0.152039
65+      0.129201
18-24    0.002175
Name: agegroup, dtype: float64


Male      0.684611
Female    0.315389
Name: gender, dtype: float64


Urban    0.802828
Rural    0.197172
Name: urbanity, dtype: float64


Kedah              0.131049
Johor              0.130941
Kelantan           0.129201
Selangor           0.113540
Pulau Pinang       0.072757
Terengganu         0.072648
Melaka             0.064818
Pahang             0.061120
Perak              0.059489
Sabah              0.048940
Sarawak            0.033714
Kuala Lumpur       0.033388
Negeri Sembilan    0.028820
Perlis             0.019467
Putrajaya          0.000109
Name: State, dtype: float64


Northeast    0.262969
Central      0.235345
Northwest    0.223274
South        0.195759
East         0.082654
Name: Region, dtype: float64


SET 2    0.184557
SET 1    0.171615
SET 7    0.132463
SET 6    0.121805
SET 4    0.111039
SET 8    0.096357
SET 5    0.089723
SET 3    0.072648
Live     0.019793
Name: Set, dtype: float64

## Save combined results per Set

### Set 1 + Live

In [ ]:
set1_combined = all_results.loc[all_results['Set'].isin(['SET 1', 'Live'])]

set1_combined = set1_combined[[
    'phonenum',
    
    'ethgroup',
    'agegroup',
    'gender',
    'urbanity',
    'State',
    'Region',
    'Set']]

set1_combined.shape

(1760, 11)

In [ ]:
set1_combined.to_excel('ivr_may_pkr2023_set1_combined_v{}.xlsx'.format(formatted_date.replace('/', '')))

### Set 2 + Live

In [ ]:
set2_combined = all_results.loc[all_results['Set'].isin(['SET 2', 'Live'])]

set2_combined = set2_combined[[
    'phonenum',

    'ethgroup',
    'agegroup',
    'gender',
    'urbanity',
    'State',
    'Region',
    'Set']]

set2_combined.shape

(1879, 10)

In [ ]:
set2_combined.to_excel('ivr_may_pkr2023_set2_combined_v{}.xlsx'.format(formatted_date.replace('/', '')))

### Set 3 + Live

In [ ]:
set3_combined = all_results.loc[all_results['Set'].isin(['SET 3', 'Live'])]

set3_combined = set3_combined[[
    'phonenum',

    'ethgroup',
    'agegroup',
    'gender',
    'urbanity',
    'State',
    'Region',
    'Set']]

set3_combined.shape

(850, 12)

In [ ]:
set3_combined.to_excel('ivr_may_pkr2023_set3_combined_v{}.xlsx'.format(formatted_date.replace('/', '')))

### Set 4 + Live

In [ ]:
set4_combined = all_results.loc[all_results['Set'].isin(['SET 4', 'Live'])]

set4_combined = set4_combined[[
    'phonenum',

    'ethgroup',
    'agegroup',
    'gender',
    'urbanity',
    'State',
    'Region',
    'Set']]

set4_combined.shape

(1203, 12)

In [ ]:
set4_combined.to_excel('ivr_may_pkr2023_set4_combined_v{}.xlsx'.format(formatted_date.replace('/', '')))

### Set 5 + Live

In [ ]:
set5_combined = all_results.loc[all_results['Set'].isin(['SET 5', 'Live'])]

set5_combined = set5_combined[[
    'phonenum',

    'ethgroup',
    'agegroup',
    'gender',
    'urbanity',
    'State',
    'Region',
    'Set']]

set5_combined.shape

(1007, 13)

In [ ]:
set5_combined.to_excel('ivr_may_pkr2023_set5_combined_v{}.xlsx'.format(formatted_date.replace('/', '')))

### Set 6 + Live

In [ ]:
set6_combined = all_results.loc[all_results['Set'].isin(['SET 6', 'Live'])]

set6_combined = set6_combined[[
    'phonenum',

    'ethgroup',
    'agegroup',
    'gender',
    'urbanity',
    'State',
    'Region',
    'Set']]

set6_combined.shape

(1302, 11)

In [ ]:
set6_combined.to_excel('ivr_may_pkr2023_set6_combined_v{}.xlsx'.format(formatted_date.replace('/', '')))

### Set 7 + Live

In [ ]:
set7_combined = all_results.loc[all_results['Set'].isin(['SET 7', 'Live'])]

set7_combined = set7_combined[[
    'phonenum',

    'ethgroup',
    'agegroup',
    'gender',
    'urbanity',
    'State',
    'Region',
    'Set']]

set7_combined.shape

(1400, 11)

In [ ]:
set7_combined.to_excel('ivr_may_pkr2023_set7_combined_v{}.xlsx'.format(formatted_date.replace('/', '')))

## Progress Check: Combined CR count per Set & State

In [ ]:
# list all combined sets
sets = [set1_combined, set2_combined, set3_combined, set4_combined,
        set5_combined, set6_combined, set7_combined]

In [ ]:
# by Set
print('CR count by Set (Live + IVR):')
print('-----------------------------')
for i,x in enumerate(sets):
  print(f"Set {i + 1} CR: {x['Set'].count()}")

print("")
print(f"As of: {date.today()}")

CR count by Set (Live + IVR):
-----------------------------
Set 1 CR: 1760
Set 2 CR: 1879
Set 3 CR: 850
Set 4 CR: 1203
Set 5 CR: 1007
Set 6 CR: 1302
Set 7 CR: 1400
Set 8 CR: 1068

As of: 2023-05-02

In [ ]:
PRN = ['Selangor', 'Pulau Pinang', 'Kelantan', 'Terengganu', 'Negeri Sembilan', 'Kedah']

# we'll add CR live to track progress.
df_list = []
for i, j in enumerate(sets):
  j['State_reg'] = j['State'].apply(lambda r: 'Others' if r not in PRN else r)
  value_counts = pd.value_counts(j['State_reg'])
  df_list.append(pd.DataFrame({'State_reg': value_counts.index, f'Set {i+1}': value_counts}).set_index('State_reg'))

df_combined = pd.concat(df_list, axis=1)

df_combined.to_excel('progress_check_v{}.xlsx'.format(formatted_date.replace('/', '')))

print(f"As of: {date.today()}")
df_combined

As of: 2023-05-02

                 Set 1  Set 2  Set 3  Set 4  Set 5  Set 6  Set 7  Set 8
State_reg
Others             763    850    381    556    467    588    659    480
Kedah              300    212    114    141    108    156    186    107
Kelantan           229    239     98    130    122    164    163    141
Pulau Pinang       144    137     54     91     66     90     80     70
Selangor           142    236    129    164    146    171    173    156
Terengganu         138    140     51     72     63     89    103     68
Negeri Sembilan     44     65     23     49     35     44     36     46

In [ ]:
# for more granular tracking (by each state, instead of just PRN focus)
df_list = []
for i, j in enumerate(sets):
  value_counts = pd.value_counts(j['State'])
  df_list.append(pd.DataFrame({'State': value_counts.index, f'Set {i+1}': value_counts}).set_index('State'))

df_combined = pd.concat(df_list, axis=1)

df_combined.to_excel('progress_check_v{}.xlsx'.format(formatted_date.replace('/', '')))

print(f"As of: {date.today()}")
df_combined

As of: 2023-05-02

                 Set 1  Set 2  Set 3  Set 4  Set 5  Set 6  Set 7  Set 8
State
Kedah              300    212    114    141    108    156    186    107
Johor              230    233    102    175    119    172    163    122
Kelantan           229    239     98    130    122    164    163    141
Pulau Pinang       144    137     54     91     66     90     80     70
Selangor           142    236    129    164    146    171    173    156
Terengganu         138    140     51     72     63     89    103     68
Pahang             120    120     42     76     68     71    109     61
Melaka             104    119     48     72     69     71     84     71
Perak               90    100     53     67     55     82     87     76
Sabah               79     94     49     53     60     68     84     47
Sarawak             61     76     41     37     40     45     51     43
Negeri Sembilan     44     65     23     49     35     44     36     46
Kuala Lumpur        42     69     28     50     41     55     57     42
Perlis              36     38     17     25     14     23     23     17
Putrajaya            1      1      1      1      1      1      1      1

In [ ]:
# sanity check
# for i, x in enumerate(sets):
#   print('Set: {}\n'.format(i+1))
#   print(x['State'].value_counts())
#   print("__________________________")

# Consolidate before Crosstabs

## Combine weighted results (National)
The following files were generated after all individual set's weightage was calculated using R survey package (locally).

*Note: These are NOT the subsetted results for PRN. These are national results.

In [ ]:
import pandas as pd
import numpy as np
from datetime import date

# Adding this code chunk to track progress by date.
today = date.today()
formatted_date = "/" + today.strftime("%d-%m-%Y").replace("-0", "-")
print("Today's date:", formatted_date)

Today's date: /02-5-2023

In [ ]:
weighted_files = [
    'pkr2023-Federal-April-set1-1760CR-weighted.xlsx',
    'pkr2023-Federal-April-set2-1879CR-weighted.xlsx',
    'pkr2023-Federal-April-set3-850CR-weighted.xlsx',
    'pkr2023-Federal-April-set4-1203CR-weighted.xlsx',
    'pkr2023-Federal-April-set5-1007CR-weighted.xlsx',
    'pkr2023-Federal-April-set6-1302CR-weighted.xlsx',
    'pkr2023-Federal-April-set7-1400CR-weighted.xlsx',
    'pkr2023-Federal-April-set8-1068CR-weighted.xlsx'
]

In [ ]:
# Loop thru all weighted files and combine
weighted_list = []

for f in weighted_files:
  df = pd.read_excel(f)
  weighted_list.append(df)

weighted_results = pd.concat(weighted_list, axis='index')

In [ ]:
# Rearrange columns
weighted_results = weighted_results[[
    'phonenum',
    '1. Which of the following issues is most important to you?',
    '2. Are you satisfied with your current economic situation?',
    '4a. BERSATU', '4b. PAS', '4c. UMNO', '4d. PH',
    '5a. Anwar Ibrahim', '5b. Muhyiddin Yassin', '5c. Zahid Hamidi',
    '5d. Hadi Awang', '5e. Fadillah Yusof', '5f. Rafizi Ramli',
    '5g. Anthony Loke', '5h. Mohamad Hasan', '5i. Mohamad Sabu',
    '6. Are you satisfied with your current federal government?',
    '7. Are you satisfied with the performance of the current Prime Minister?',
    '8. Which government are you satisfied with?',
    '9. Which party did you vote for in GE15?',
    '10. Which of the following state-level issues is most important to you?',
    '11. Are you satisfied with the State Governments performance in addressing this issue? [based on answer to Q10]',
    '12. Are you satisfied with the level of development and economic opportunities in your area?',
    '13. What is the most negative legacy of the current State Government?',
    '14. What is the most positive legacy of the current State Government?',
    'ethgroup',
    'agegroup',
    'gender',
    'urbanity',
    'State',
    'Region',
    'Set',
    'untrimmed_weight',
    'trimmed_weight'
]]

In [ ]:
# Export to be run thru Crosstab Generator
weighted_results.to_excel('pkr2023-april-federal-all-sets-weighted_v{}.xlsx'.format(formatted_date.replace('/', '')), index=False)

## Combine weighted results (PRN States)

In [ ]:
import pandas as pd
import numpy as np
from datetime import date

# Adding this code chunk to track progress by date.
today = date.today()
formatted_date = "/" + today.strftime("%d-%m-%Y").replace("-0", "-")
print("Today's date:", formatted_date)

Today's date: /02-5-2023

In [ ]:
weighted_prn = [
    'pkr2023-PRN6States-April-set-1-997CR-weighted.xlsx',
    'pkr2023-PRN6States-April-set-2-1029CR-weighted.xlsx',
    'pkr2023-PRN6States-April-set-3-469CR-weighted.xlsx',
    'pkr2023-PRN6States-April-set-4-647CR-weighted.xlsx',
    'pkr2023-PRN6States-April-set-5-540CR-weighted.xlsx',
    'pkr2023-PRN6States-April-set-6-714CR-weighted.xlsx',
    'pkr2023-PRN6States-April-set-7-741CR-weighted.xlsx',
    'pkr2023-PRN6States-April-set-8-588CR-weighted.xlsx'
]

In [ ]:
# Loop thru all weighted files and combine
weighted_list_prn = []

for f in weighted_prn:
  df = pd.read_excel(f)
  weighted_list_prn.append(df)

weighted_results_prn = pd.concat(weighted_list_prn, axis='index')

In [ ]:
# Rearrange columns
weighted_results_prn = weighted_results_prn[[
    'phonenum',
    '1. Which of the following issues is most important to you?',
    '2. Are you satisfied with your current economic situation?',
    '4a. BERSATU', '4b. PAS', '4c. UMNO', '4d. PH',
    '5a. Anwar Ibrahim', '5b. Muhyiddin Yassin', '5c. Zahid Hamidi',
    '5d. Hadi Awang', '5e. Fadillah Yusof', '5f. Rafizi Ramli',
    '5g. Anthony Loke', '5h. Mohamad Hasan', '5i. Mohamad Sabu',
    '6. Are you satisfied with your current federal government?',
    '7. Are you satisfied with the performance of the current Prime Minister?',
    '8. Which government are you satisfied with?',
    '9. Which party did you vote for in GE15?',
    '10. Which of the following state-level issues is most important to you?',
    '11. Are you satisfied with the State Governments performance in addressing this issue? [based on answer to Q10]',
    '12. Are you satisfied with the level of development and economic opportunities in your area?',
    '13. What is the most negative legacy of the current State Government?',
    '14. What is the most positive legacy of the current State Government?',
    'ethgroup',
    'agegroup',
    'gender',
    'urbanity',
    'State',
    'Region',
    'Set',
    'untrimmed_weight',
    'trimmed_weight'
]]

In [ ]:
# Temp. code
likert_mapping = {'Very negative': '1) Very negative',
                  'Negative': '2) Negative',
                  'Neutral': '3) Neutral',
                  'Positive': '4) Positive',
                  'Very positive': '5) Very positive',
                  'Not recognize': '6) Not recognize'}

weighted_results_prn.replace(likert_mapping, inplace=True)

In [ ]:
# Export to be run thru Crosstab Generator
weighted_results_prn.to_excel('pkr2023-PRN-all-sets-weighted_v{}.xlsx'.format(formatted_date.replace('/', '')), index=False)

## Combine weighted results (KELANTAN)

In [ ]:
import pandas as pd
import numpy as np
from datetime import date

# Adding this code chunk to track progress by date.
today = date.today()
formatted_date = "/" + today.strftime("%d-%m-%Y").replace("-0", "-")
print("Today's date:", formatted_date)

Today's date: /03-5-2023

In [ ]:
weighted_prn = [
 'pkr2023-KELANTAN-April-set1-229CR-weighted.xlsx',
 'pkr2023-KELANTAN-April-set2-239CR-weighted.xlsx',
 'pkr2023-KELANTAN-April-set3-98CR-weighted.xlsx',
 'pkr2023-KELANTAN-April-set4-130CR-weighted.xlsx',
 'pkr2023-KELANTAN-April-set5-122CR-weighted.xlsx',
 'pkr2023-KELANTAN-April-set6-164CR-weighted.xlsx',
 'pkr2023-KELANTAN-April-set7-163CR-weighted.xlsx',
 'pkr2023-KELANTAN-April-set8-141CR-weighted.xlsx'
]

In [ ]:
# Loop thru all weighted files and combine
weighted_list_prn = []

for f in weighted_prn:
  df = pd.read_excel(f)
  weighted_list_prn.append(df)

weighted_results_prn = pd.concat(weighted_list_prn, axis='index')

In [ ]:
# Rearrange columns
weighted_results_prn = weighted_results_prn[[
    'phonenum',
    '1. Which of the following issues is most important to you?',
    '2. Are you satisfied with your current economic situation?',
    '4a. BERSATU', '4b. PAS', '4c. UMNO', '4d. PH',
    '5a. Anwar Ibrahim', '5b. Muhyiddin Yassin', '5c. Zahid Hamidi',
    '5d. Hadi Awang', '5e. Fadillah Yusof', '5f. Rafizi Ramli',
    '5g. Anthony Loke', '5h. Mohamad Hasan', '5i. Mohamad Sabu',
    '6. Are you satisfied with your current federal government?',
    '7. Are you satisfied with the performance of the current Prime Minister?',
    '8. Which government are you satisfied with?',
    '9. Which party did you vote for in GE15?',
    '10. Which of the following state-level issues is most important to you?',
    '11. Are you satisfied with the State Governments performance in addressing this issue? [based on answer to Q10]',
    '12. Are you satisfied with the level of development and economic opportunities in your area?',
    '13. What is the most negative legacy of the current State Government?',
    '14. What is the most positive legacy of the current State Government?',
    'ethgroup',
    'agegroup',
    'gender',
    'urbanity',
    'State',
    'Region',
    'Set',
    'untrimmed_weight',
    'trimmed_weight'
]]

In [ ]:
# Temp. code
likert_mapping = {'Very negative': '1) Very negative',
                  'Negative': '2) Negative',
                  'Neutral': '3) Neutral',
                  'Positive': '4) Positive',
                  'Very positive': '5) Very positive',
                  'Not recognize': '6) Not recognize'}

weighted_results_prn.replace(likert_mapping, inplace=True)

In [ ]:
# Export to be run thru Crosstab Generator
weighted_results_prn.to_excel('pkr2023-PRN-KELANTAN-sets-weighted_v{}.xlsx'.format(formatted_date.replace('/', '')), index=False)

## Combine weighted results (TERENGGANU)

In [ ]:
import pandas as pd
import numpy as np
from datetime import date

# Adding this code chunk to track progress by date.
today = date.today()
formatted_date = "/" + today.strftime("%d-%m-%Y").replace("-0", "-")
print("Today's date:", formatted_date)

Today's date: /03-5-2023

In [ ]:
weighted_prn = [
 'pkr2023-Terengganu-April-set1-138CR-weighted.xlsx',
 'pkr2023-Terengganu-April-set2-140CR-weighted.xlsx',
 'pkr2023-Terengganu-April-set3-51CR-weighted.xlsx',
 'pkr2023-Terengganu-April-set4-72CR-weighted.xlsx',
 'pkr2023-Terengganu-April-set5-63CR-weighted.xlsx',
 'pkr2023-Terengganu-April-set6-89CR-weighted.xlsx',
 'pkr2023-Terengganu-April-set7-103CR-weighted.xlsx',
 'pkr2023-Terengganu-April-set8-68CR-weighted.xlsx'
]

In [ ]:
# Loop thru all weighted files and combine
weighted_list_prn = []

for f in weighted_prn:
  df = pd.read_excel(f)
  weighted_list_prn.append(df)

weighted_results_prn = pd.concat(weighted_list_prn, axis='index')

In [ ]:
# Rearrange columns
weighted_results_prn = weighted_results_prn[[
    'phonenum',
    '1. Which of the following issues is most important to you?',
    '2. Are you satisfied with your current economic situation?',
    '4a. BERSATU', '4b. PAS', '4c. UMNO', '4d. PH',
    '5a. Anwar Ibrahim', '5b. Muhyiddin Yassin', '5c. Zahid Hamidi',
    '5d. Hadi Awang', '5e. Fadillah Yusof', '5f. Rafizi Ramli',
    '5g. Anthony Loke', '5h. Mohamad Hasan', '5i. Mohamad Sabu',
    '6. Are you satisfied with your current federal government?',
    '7. Are you satisfied with the performance of the current Prime Minister?',
    '8. Which government are you satisfied with?',
    '9. Which party did you vote for in GE15?',
    '10. Which of the following state-level issues is most important to you?',
    '11. Are you satisfied with the State Governments performance in addressing this issue? [based on answer to Q10]',
    '12. Are you satisfied with the level of development and economic opportunities in your area?',
    '13. What is the most negative legacy of the current State Government?',
    '14. What is the most positive legacy of the current State Government?',
    'ethgroup',
    'agegroup',
    'gender',
    'urbanity',
    'State',
    'Region',
    'Set',
    'untrimmed_weight',
    'trimmed_weight'
]]

In [ ]:
# Temp. code
likert_mapping = {'Very negative': '1) Very negative',
                  'Negative': '2) Negative',
                  'Neutral': '3) Neutral',
                  'Positive': '4) Positive',
                  'Very positive': '5) Very positive',
                  'Not recognize': '6) Not recognize'}

weighted_results_prn.replace(likert_mapping, inplace=True)

In [ ]:
# Export to be run thru Crosstab Generator
weighted_results_prn.to_excel('pkr2023-PRN-Terengganu-all-sets-weighted_v{}.xlsx'.format(formatted_date.replace('/', '')), index=False)

## Combine weighted results (KEDAH)

In [ ]:
import pandas as pd
import numpy as np
from datetime import date

# Adding this code chunk to track progress by date.
today = date.today()
formatted_date = "/" + today.strftime("%d-%m-%Y").replace("-0", "-")
print("Today's date:", formatted_date)

Today's date: /03-5-2023

In [ ]:
weighted_prn = [
 'pkr2023-KEDAH-April-set1-300CR-weighted.xlsx',
 'pkr2023-KEDAH-April-set2-212CR-weighted.xlsx',
 'pkr2023-KEDAH-April-set3-114CR-weighted.xlsx',
 'pkr2023-KEDAH-April-set4-141CR-weighted.xlsx',
 'pkr2023-KEDAH-April-set5-108CR-weighted.xlsx',
 'pkr2023-KEDAH-April-set6-156CR-weighted.xlsx',
 'pkr2023-KEDAH-April-set7-186CR-weighted.xlsx',
 'pkr2023-KEDAH-April-set8-107CR-weighted.xlsx'
]

In [ ]:
# Loop thru all weighted files and combine
weighted_list_prn = []

for f in weighted_prn:
  df = pd.read_excel(f)
  weighted_list_prn.append(df)

weighted_results_prn = pd.concat(weighted_list_prn, axis='index')

In [ ]:
# Rearrange columns
weighted_results_prn = weighted_results_prn[[
    'phonenum',
    '1. Which of the following issues is most important to you?',
    '2. Are you satisfied with your current economic situation?',
    '4a. BERSATU', '4b. PAS', '4c. UMNO', '4d. PH',
    '5a. Anwar Ibrahim', '5b. Muhyiddin Yassin', '5c. Zahid Hamidi',
    '5d. Hadi Awang', '5e. Fadillah Yusof', '5f. Rafizi Ramli',
    '5g. Anthony Loke', '5h. Mohamad Hasan', '5i. Mohamad Sabu',
    '6. Are you satisfied with your current federal government?',
    '7. Are you satisfied with the performance of the current Prime Minister?',
    '8. Which government are you satisfied with?',
    '9. Which party did you vote for in GE15?',
    '10. Which of the following state-level issues is most important to you?',
    '11. Are you satisfied with the State Governments performance in addressing this issue? [based on answer to Q10]',
    '12. Are you satisfied with the level of development and economic opportunities in your area?',
    '13. What is the most negative legacy of the current State Government?',
    '14. What is the most positive legacy of the current State Government?',
    'ethgroup',
    'agegroup',
    'gender',
    'urbanity',
    'State',
    'Region',
    'Set',
    'untrimmed_weight',
    'trimmed_weight'
]]

In [ ]:
# Temp. code
likert_mapping = {'Very negative': '1) Very negative',
                  'Negative': '2) Negative',
                  'Neutral': '3) Neutral',
                  'Positive': '4) Positive',
                  'Very positive': '5) Very positive',
                  'Not recognize': '6) Not recognize'}

weighted_results_prn.replace(likert_mapping, inplace=True)

In [ ]:
# Export to be run thru Crosstab Generator
weighted_results_prn.to_excel('pkr2023-PRN-KEDAH-all-sets-weighted_v{}.xlsx'.format(formatted_date.replace('/', '')), index=False)

## Combine weighted results (NEGERI SEMBILAN)

In [ ]:
import pandas as pd
import numpy as np
from datetime import date

# Adding this code chunk to track progress by date.
today = date.today()
formatted_date = "/" + today.strftime("%d-%m-%Y").replace("-0", "-")
print("Today's date:", formatted_date)

Today's date: /03-5-2023

In [ ]:
weighted_prn = [
 'pkr2023-Negeri-Sembilan-April-set1-44CR-weighted.xlsx',
 'pkr2023-Negeri-Sembilan-April-set2-65CR-weighted.xlsx',
 'pkr2023-Negeri-Sembilan-April-set3-23CR-weighted.xlsx',
 'pkr2023-Negeri-Sembilan-April-set4-49CR-weighted.xlsx',
 'pkr2023-Negeri-Sembilan-April-set5-35CR-weighted.xlsx',
 'pkr2023-Negeri-Sembilan-April-set6-44CR-weighted.xlsx',
 'pkr2023-Negeri-Sembilan-April-set7-36CR-weighted.xlsx',
 'pkr2023-Negeri-Sembilan-April-set8-46CR-weighted.xlsx'
]

In [ ]:
# Loop thru all weighted files and combine
weighted_list_prn = []

for f in weighted_prn:
  df = pd.read_excel(f)
  weighted_list_prn.append(df)

weighted_results_prn = pd.concat(weighted_list_prn, axis='index')

In [ ]:
# Rearrange columns
weighted_results_prn = weighted_results_prn[[
    'phonenum',
    '1. Which of the following issues is most important to you?',
    '2. Are you satisfied with your current economic situation?',
    '4a. BERSATU', '4b. PAS', '4c. UMNO', '4d. PH',
    '5a. Anwar Ibrahim', '5b. Muhyiddin Yassin', '5c. Zahid Hamidi',
    '5d. Hadi Awang', '5e. Fadillah Yusof', '5f. Rafizi Ramli',
    '5g. Anthony Loke', '5h. Mohamad Hasan', '5i. Mohamad Sabu',
    '6. Are you satisfied with your current federal government?',
    '7. Are you satisfied with the performance of the current Prime Minister?',
    '8. Which government are you satisfied with?',
    '9. Which party did you vote for in GE15?',
    '10. Which of the following state-level issues is most important to you?',
    '11. Are you satisfied with the State Governments performance in addressing this issue? [based on answer to Q10]',
    '12. Are you satisfied with the level of development and economic opportunities in your area?',
    '13. What is the most negative legacy of the current State Government?',
    '14. What is the most positive legacy of the current State Government?',
    'ethgroup',
    'agegroup',
    'gender',
    'urbanity',
    'State',
    'Region',
    'Set',
    'untrimmed_weight',
    'trimmed_weight'
]]

In [ ]:
# Temp. code
likert_mapping = {'Very negative': '1) Very negative',
                  'Negative': '2) Negative',
                  'Neutral': '3) Neutral',
                  'Positive': '4) Positive',
                  'Very positive': '5) Very positive',
                  'Not recognize': '6) Not recognize'}

weighted_results_prn.replace(likert_mapping, inplace=True)

In [ ]:
# Export to be run thru Crosstab Generator
weighted_results_prn.to_excel('pkr2023-PRN-Negeri-9-all-sets-weighted_v{}.xlsx'.format(formatted_date.replace('/', '')), index=False)

## Combine weighted results (Pulau Pinang)

In [ ]:
import pandas as pd
import numpy as np
from datetime import date

# Adding this code chunk to track progress by date.
today = date.today()
formatted_date = "/" + today.strftime("%d-%m-%Y").replace("-0", "-")
print("Today's date:", formatted_date)

Today's date: /03-5-2023

In [ ]:
weighted_prn = [
 'pkr2023-Pulau-Pinang-April-set1-144CR-weighted.xlsx',
 'pkr2023-Pulau-Pinang-April-set2-137CR-weighted.xlsx',
 'pkr2023-Pulau-Pinang-April-set3-54CR-weighted.xlsx',
 'pkr2023-Pulau-Pinang-April-set4-91CR-weighted.xlsx',
 'pkr2023-Pulau-Pinang-April-set5-66CR-weighted.xlsx',
 'pkr2023-Pulau-Pinang-April-set6-90CR-weighted.xlsx',
 'pkr2023-Pulau-Pinang-April-set7-80CR-weighted.xlsx',
 'pkr2023-Pulau-Pinang-April-set8-70CR-weighted.xlsx'
]

In [ ]:
# Loop thru all weighted files and combine
weighted_list_prn = []

for f in weighted_prn:
  df = pd.read_excel(f)
  weighted_list_prn.append(df)

weighted_results_prn = pd.concat(weighted_list_prn, axis='index')

In [ ]:
# Rearrange columns
weighted_results_prn = weighted_results_prn[[
    'phonenum',
    '1. Which of the following issues is most important to you?',
    '2. Are you satisfied with your current economic situation?',
    '4a. BERSATU', '4b. PAS', '4c. UMNO', '4d. PH',
    '5a. Anwar Ibrahim', '5b. Muhyiddin Yassin', '5c. Zahid Hamidi',
    '5d. Hadi Awang', '5e. Fadillah Yusof', '5f. Rafizi Ramli',
    '5g. Anthony Loke', '5h. Mohamad Hasan', '5i. Mohamad Sabu',
    '6. Are you satisfied with your current federal government?',
    '7. Are you satisfied with the performance of the current Prime Minister?',
    '8. Which government are you satisfied with?',
    '9. Which party did you vote for in GE15?',
    '10. Which of the following state-level issues is most important to you?',
    '11. Are you satisfied with the State Governments performance in addressing this issue? [based on answer to Q10]',
    '12. Are you satisfied with the level of development and economic opportunities in your area?',
    '13. What is the most negative legacy of the current State Government?',
    '14. What is the most positive legacy of the current State Government?',
    'ethgroup',
    'agegroup',
    'gender',
    'urbanity',
    'State',
    'Region',
    'Set',
    'untrimmed_weight',
    'trimmed_weight'
]]

In [ ]:
# Temp. code
likert_mapping = {'Very negative': '1) Very negative',
                  'Negative': '2) Negative',
                  'Neutral': '3) Neutral',
                  'Positive': '4) Positive',
                  'Very positive': '5) Very positive',
                  'Not recognize': '6) Not recognize'}

weighted_results_prn.replace(likert_mapping, inplace=True)

In [ ]:
# Export to be run thru Crosstab Generator
weighted_results_prn.to_excel('pkr2023-PRN-Pulau-Pinang-all-sets-weighted_v{}.xlsx'.format(formatted_date.replace('/', '')), index=False)

## Combine weighted results (Selangor)

In [ ]:
import pandas as pd
import numpy as np
from datetime import date

# Adding this code chunk to track progress by date.
today = date.today()
formatted_date = "/" + today.strftime("%d-%m-%Y").replace("-0", "-")
print("Today's date:", formatted_date)

Today's date: /03-5-2023

In [ ]:
weighted_prn = [
 'pkr2023-Selangor-April-set1-142CR-weighted.xlsx',
 'pkr2023-Selangor-April-set2-236CR-weighted.xlsx',
 'pkr2023-Selangor-April-set3-129CR-weighted.xlsx',
 'pkr2023-Selangor-April-set4-164CR-weighted.xlsx',
 'pkr2023-Selangor-April-set5-146CR-weighted.xlsx',
 'pkr2023-Selangor-April-set6-171CR-weighted.xlsx',
 'pkr2023-Selangor-April-set7-173CR-weighted.xlsx',
 'pkr2023-Selangor-April-set8-156CR-weighted.xlsx'
]

In [ ]:
# Loop thru all weighted files and combine
weighted_list_prn = []

for f in weighted_prn:
  df = pd.read_excel(f)
  weighted_list_prn.append(df)

weighted_results_prn = pd.concat(weighted_list_prn, axis='index')

In [ ]:
# Rearrange columns
weighted_results_prn = weighted_results_prn[[
    'phonenum',
    '1. Which of the following issues is most important to you?',
    '2. Are you satisfied with your current economic situation?',
    '4a. BERSATU', '4b. PAS', '4c. UMNO', '4d. PH',
    '5a. Anwar Ibrahim', '5b. Muhyiddin Yassin', '5c. Zahid Hamidi',
    '5d. Hadi Awang', '5e. Fadillah Yusof', '5f. Rafizi Ramli',
    '5g. Anthony Loke', '5h. Mohamad Hasan', '5i. Mohamad Sabu',
    '6. Are you satisfied with your current federal government?',
    '7. Are you satisfied with the performance of the current Prime Minister?',
    '8. Which government are you satisfied with?',
    '9. Which party did you vote for in GE15?',
    '10. Which of the following state-level issues is most important to you?',
    '11. Are you satisfied with the State Governments performance in addressing this issue? [based on answer to Q10]',
    '12. Are you satisfied with the level of development and economic opportunities in your area?',
    '13. What is the most negative legacy of the current State Government?',
    '14. What is the most positive legacy of the current State Government?',
    'ethgroup',
    'agegroup',
    'gender',
    'urbanity',
    'State',
    'Region',
    'Set',
    'untrimmed_weight',
    'trimmed_weight'
]]

In [ ]:
# Temp. code
likert_mapping = {'Very negative': '1) Very negative',
                  'Negative': '2) Negative',
                  'Neutral': '3) Neutral',
                  'Positive': '4) Positive',
                  'Very positive': '5) Very positive',
                  'Not recognize': '6) Not recognize'}

weighted_results_prn.replace(likert_mapping, inplace=True)

In [ ]:
# Export to be run thru Crosstab Generator
weighted_results_prn.to_excel('pkr2023-PRN-Selangor-all-sets-weighted_v{}.xlsx'.format(formatted_date.replace('/', '')), index=False)